[2012-12-28 21:51] vbalazs opened #1 "Webszolgáltatás a színes belépők lekérdezésére"
Egy hatalmas kört spórolhatunk meg azzal, ha a KSZK egy webszolgáltatáson keresztül el tudja kérni tőlünk egy felhasználó színes belépőit (a hálóreg kedvezményhez szükséges).

Ehhez egy REST servicet kell implementálni, amely egy megadott neptunra és félévre visszaadja körönként a színes belépőket.
Megegyeztünk a JSON formátumban.

Az implementáláson túl a következő feladatokat kell elvégezni:
- b

[2012-12-30 19:34] vbalazs opened #3 "Értékeléskor nem frissül a taglista, ha a tagok száma nem változott"
1. van már létező belépő- vagy pontigény leadás (pl. visszautasított)
2. közben változnak a tagok, öregtaggá lesznek / új tagok kerülnek a körbe

Ekkor az új igény leadásakor a listában a tagok nem frissülnek, ha a tagok száma nem változott (a tényleges tagváltozásokat nem ellenőrizzük). Ehhez kapcsolódik, hogy a tagszám változásakor a közben öregtaggá vált tagok értékelései sem kerülnek ki a list

[2012-12-31 02:00] #3 closed, assigned to vbalazs

[2013-01-01 22:39] vbalazs opened #4 "SVIE elsődleges körként jelölhető olyan kör, ahol öregtag vagyok"
Gancska jelezte, hogy nem logikus működés az, hogy ha az elsődleges kör választó listában megjelennek azok a körök, amikben öregtag vagyok már.

(redmine issue: #990)

[2013-01-03 20:50] vbalazs commented on #1
doksi kész, teszt szerveren kész a működő konfig

[2013-01-03 20:50] #1 closed, assigned to vbalazs

[2013-01-19 20:03] vbalazs opened #5 "Értékelés üzeneteinél hibás időformátum"
"Az értékelések során egy nem komoly, de szembetűnő hibával találkoztam. Amikor január elsején éjfél után töltöttem ki az értékeléseket az üzenetek oldalon a dátumozás nem volt jó. 2013. 01. 01. 00:06 perc kor 2013. 01. 01. 24:06-ot írt ki. Vagyis a dátum átfordult a következő napra, de az óra nem."

a hiba az idő formátumban van:
https://github.com/kir-dev/korok/blob/af5af869ba7681153d6a45d994c7f

[2013-01-19 20:04] #5 closed, assigned to vbalazs

[2013-01-25 21:55] hgabor opened #6 "Közösségi pontok nem látszanak"
Ha az aktuális félévben nem kapott KP-ot, csak az előzőben, a felvételihez használt pontoknál nem jelenik meg az aktuális félév.
Pl.: https://profile.sch.bme.hu/korok/userhistory/id/26726?17 hiányzik a 2012/2013 ősz sor.

A KFB exportnál minden okés.

[2013-02-01 20:46] vbalazs opened #7 "Átállás Wicket 6.x-re"
Jelenleg a Wicket keretrendszer 1.5-ös verzióját használjuk, amely már jól működik éles környezetben.

Szeretnénk, ha a VIR3 már Wicket 6-on működne, de nem szeretnénk egy lépésben megtenni a két fejlesztést.

[2013-02-01 20:52] vbalazs opened #8 "OpenDj SDK bevezetése springldap helyett"
Jelenleg springes ldap könyvtárral kezeljük a címtárunkat, ezen szeretnénk változtatni és OpenDJ sdk-t használni, amelyet a ForegeRock fejleszt.

A kód egy részét már migrálta @messo , amely most a 3.0-s branchben van, nem kell nulláról kezdeni a munkát.

Jó lenne egy **performanciateszt** előtte / utána csak, hogy lássuk, hogy ezen a téren nyertünk-e a használatával. (kód olvashatóság / karbantar

[2013-02-01 21:05] aldaris commented on #8
Like. Az API még nem teljesen stabil mondjuk, az OpenAM által használt p3-as verzió kapcsolatkezelés-ügyileg elég stabilnak tűnik, a nightly viszont még azt hiszem küszködik néhány grizzly problémával.

[2013-02-01 21:14] vbalazs opened #9 "Körök archiválásának lehetősége"
Emlékeim szerint van valami flag db-ben, ami arra hivatott, hogy egy kört lehessen archiválni és ne jelenjen meg az egysegek oldalon.

Ezt az adatbázisban is helyre kell tenni, mert most vannak olyan 'old' körök és gyűjtő mappák, amiknek nem is kellene azon a felületen megjelennie.

[2013-02-01 21:16] vbalazs commented on #8
észleltem, mert ha jól láttam csak SNAPSHOT van a maven repokban és el is breakelt, amikor próbáltuk lefordítani a 3.0-ás branchet :) kicsit kalapáltunk rajta és jó lett. De hosszabb távon remélhetőleg megtérül.

[2013-03-06 16:16] vbalazs opened #10 "3.1"
layout, design, ux fixek, néhány új funkció

[2013-03-06 16:18] vbalazs commented on #10
he? ez milestone akart lenni

[2013-03-06 16:18] #10 closed, assigned to nobody

[2013-03-06 16:30] vbalazs opened #11 "staging szerver ellenőrzése, rendbetétele"
meg kell nézni stewie-n milyen állapotban van a tesztrendszer, rendbe kell szedni és kellenek különböző jogosultságú teszt felhasználók.

[2013-03-07 00:27] vbalazs opened #12 "Színes belépők webszolgáltatás - nehezen kezelhető JSON"
A JAX-RS alapértelmezett JSON szerializálója elég :shit: kimenetet állít elő, eddig a következő problmák jöttek elő:
- az üres listára 'null' stringet ad vissza
- ha csak egy elem van a listában, akkor nem egy egy elemű listát ad vissza, hanem magát az objektumot, ezt külön kell kezelni emiatt a kliens oldalon.

Megoldás lehet a [Jackson json provider](https://github.com/FasterXML/jackson-jaxrs-js

[2013-03-07 00:45] #12 closed, assigned to vbalazs

[2013-03-09 01:51] vbalazs commented on #11
user kész

TODO:
- cert frissítés
- java frissítés
- openam frissítés

[2013-03-09 10:58] vbalazs commented on #11
java frissítve

[2013-03-09 16:18] vbalazs commented on #11
OS frissítve, ubuntu 12.04-re

[2013-03-15 06:06] vbalazs opened #13 "Analytics konszolidáció"
Az alkalmazások migrációja előttről visszamaradt kód, amivel több probléma is van:
- headerben van
- külön analytics azonosítóval rendelkezik a profil és a körök, de szerintem ugyanazt mérik

Analytics admin oldalon már hangoltam a beállításokon, hogy mérje az sch subdomaineket is ezzel az azonosítóval így remélhetőleg a korok.sch és a profile.sch sem fog gondot okozni. Egyéként a domaineket is re

[2013-03-15 16:05] #13 closed, assigned to nobody

[2013-03-17 14:36] vbalazs commented on #7
van néhány hiba, ami a tesztelés során derült ki, ezeket javítani kell.

[2013-03-17 14:38] vbalazs opened #14 "Navbar csak DEPLOYMENT módban"
ha localhoston dolgozunk feleslegesen töltődik be, zavaró, hogy az élesre mutató linkek vannak benne.

(engem zavar :camel: )

[2013-03-17 16:33] #14 closed, assigned to vbalazs

[2013-03-17 17:24] vbalazs commented on #7
ezt most már tényleg lezárom, ha előjön még valami hiba, akkor annak nyitok új hibajegyet

[2013-03-17 17:24] #7 closed, assigned to vbalazs

[2013-03-22 12:40] vbalazs commented on #8
@NPeete

[2013-04-17 20:57] vbalazs opened #15 "KBME webservice - rendes hibakezelés"
Ha pl. a körvezető lekérdezésekor olyan csoport id-t adunk meg, amely nem létezik, akkor valami "nem specifikált" választ kapunk, leginkább semmilyen outputot nem küldünk így a kliensek nem tudnak mit kezdeni a válasszal. (valami 204 no content kerül ki, de ez nem az igazi).

Emellett akkor is 500-as HTTP hibát dobunk, amikor csak simán nem található egy kör (pl. egy kör szüleinek lekérdezésekor),

[2013-04-17 21:17] vbalazs opened #16 "KBME webservice - közösségi pontozás visszaadja az elutasított pontokat is"
A válasz tartalmazza az elutasított pontozásokat is, nem csak a legutolsó elfogadott vezióét, emiatt elég használhatatlan a kimenet, pl:
`/services/kbme/points?uid=balo&sid=201020112`

[code]

Látható, hogy az adott félév pontozásának mindkét verziója belekerül a kimenetbe.

[2013-05-10 14:07] vbalazs commented on #8
(by @NPeete )

[2013-06-29 10:16] vbalazs commented on #11
ez közben kész lett.

[2013-06-29 10:16] #11 closed, assigned to vbalazs

[2013-06-29 10:21] vbalazs opened #17 "Profil szerkesztés - attribútum láthatóság állító lakatok nem változnak"
Már a Wicket 1.5.x-re átállás után elromlottak a láthatóságot jelölő lakat indikátorok.

A tesztelés során kiderült, hogy a funkció mögötte működik, tehát ha rákattintok valamelyikre, majd elmentem, akkor a láthatósága megváltozik. A hiba csak az indikátort érinti.

[2013-06-29 15:51] tmichel opened #18 "Email szövegek be vannak égetve a .java fájlokba."
Az emailek szövegét egy külön fájlba/property-be kell kimozgatni.

Pl: LdapManagerBean.java

[2013-06-29 15:52] tmichel opened #19 "Regisztrációnál az emailben elküldjük a jelszót is."
Regisztrációs megerősítő emailbe nem küldjük el a plain text jelszót!
A regisztrációs folyamatot is felül kellene vizsgálni.

[2013-06-29 19:47] tmichel commented on #8
az unboundid ldap sdk-ra esett a választás végül.

[2013-06-29 19:53] vbalazs opened #20 "Regisztráció átalakítása"
- régi VIR regisztráció törlése a kódból _(supportra irányítjuk az ilyen kéréseket)_
- aktív villanykaros reg neptunnal - mindig latszódjon
- gólyaidőszak idején új regek
  - reg om azonosítóval
  - reg neptun kóddal

A meglévő `neptun_list` táblát ki kell egészíteni a következő attribútumokkal
- om azonosító
- gólya-e

A gólyatábor után a neptun_list táblában kézzel át kell billenteni a gólyáknak

[2013-06-29 19:54] aldaris commented on #8
Szomorú, a 2.6-os DJ SDK nemsokára ki lesz adva pedig :(

[2013-06-29 20:06] vbalazs commented on #8
:broken_heart:

[2013-06-29 20:08] vbalazs opened #21 "Person osztály refaktorálása"
Át kell gondolni a Person szerepét:
- csak egy logikai entitás legyen, ami nem tud arról, hogy az ldapban hogyan vannak tárolva az attribútumai, a transzformációkat máshol végezzük el
- ténylegesen ebben megvalósítani az ldap transzformációkat, plusz mezők felesleges használata nélkül (viszont így logika kerül az entitásba)

[2013-06-30 20:02] tmichel opened #22 "LdapManagerBeanben az exception-öket ne nyeljük le"
Az LdapManagerBeanben jelenleg a LDAP connectortól érkező kivételeket a service szinten kezeljük és a felületre nem jut ki semmi ebből.

Ehelyett az exceptionöket burkolni kellene és a tovább dobni a web rétegbe, ahol a felhasználó is értesülhet az esetleges hibáról.

a web rétegben értelmesen kell kezelni a service layerből jövő kivételeket

ehhez az ejb interfészét is meg kell változtatni

[2013-06-30 22:07] tmichel commented on #8
fixed 73cce09deba4fc2cacedbb3d00374be20917a66e >> ab28c7145c720b5a2c421ee2c157e1c95f8bd278

[2013-06-30 22:07] #8 closed, assigned to tmichel

[2013-06-30 23:24] tmichel opened #23 "Teszt vir adatábázis és címtár létrehozása"
1. legyen elérhető közös címtár és teszt adatbázis stewie-n (?), ne kelljen mindenkinek localban összeszopkodni.
2. legyen leírás arról, hogyan kell a teszt szerveren belőni a postgresql-t és az opendj-t
3. jelenjen meg a fejlesztői doksiban, hogyan kell csatlakozni a távoli adatbázishoz
4. a teszt adatbázisba az adatok csak anonimizálás után kerüljenek be

[2013-06-30 23:28] tmichel opened #24 "Címtár séma és adatok átnézése"
Rövid tesztelés alatt arra a következtetésre kellett jutnom, hogy a címtár sémája (picit) és a benne lévő adatok (nagyon) rossz állapotban vannak.

Át kell gondolni, hogy ténylegesen mire van szükség és innentől ezen adatok bekérését/beszerzését ki kell kényszeríteni. Valami adattisztítás sem lenne rossz, bár ez biztosan a távoli jövőbe vész, ha egyáltalán.

[2013-07-01 18:17] vbalazs opened #25 "Release folyamatának felülvizsgálata"
Jelenleg elég fájás új verziót csinálni, jó lenne értelmesen automatizálni.
Van egy kezdetleges szkriptünk is (changeVersion.sh), de meg kellene fontolni a `maven-release-plugin` használatát (http://maven.apache.org/maven-release/maven-release-plugin/).

Egyúttal kivehetnénk a felületről a verziót is, lehet, hogy security szempontból jobb lenne, nem is értem miért van kint. A verziószámot esetleg

[2013-07-01 19:56] vbalazs commented on #20
@hgabor a rególyák miatt végül lehet, hogy mégis tiltanunk kell az atkív villanykaros reget a gólyaidőszak alatt... Esetleg következő évben lehetne már engedélyezni, feltéve, ha a gólyákat nem feltétel nélkül tesszük át aktív az listába, hanem az aktív hallgatói lista alapján. Így azok, akik passzívra mennek maradnak gólya állapotban. Ezzel csak az a baj, hogy ilyen lista legkorábban is csak reg h

[2013-07-01 20:21] hgabor commented on #20
@vbalazs
Rególyák már úgyis tudják a poént. Ha jelentkezni akarnak GTB-be, akkor külön megkeresik a seniorgárdát, és megkérnek minket, hogy a létező VIR accot állítsuk át gólyára.
Akik kétpasszívra mennek, azok szintén benne szoktak lenni a gólyalistában. Az aktív listáva összenézve inaktiválhatjuk a fiókjukat. Az, hogy pár hétig aktívak lesznek, sztem nem para.

[2013-07-02 08:16] tmichel opened #26 "Confirmation code felülvizsgálat"
Jelenleg a confirmation code-dal több baj is van. Úgy néz ki legalább kétfélét generálunk és egy mezőt a címtárban több szerepet is betölt egyszerre.

A regisztrációkor kiküldött emailben van egy MD5 hash, majd valahol a közösségi profil létrehozásánál is van egy. Alapból nem értem, hogy miért van két regisztrációs folyamat még mindig.

Regisztrációkor eddig úgy tűnt, hogy csak kiküldjük a kódot,

[2013-07-02 21:58] tmichel opened #27 "Függőségek és felhasznált libek frissítése"
Szerencsére a legtöbb függőséget egészen jól karbantartottuk, de van néhány, ahol már elég régi verziót használunk. Valamint érdemes lenne a `pom.xml` fájlokat is átnézni és egységesíteni.

Egy már biztos van: apache commons lang 2.4 -> 3-as migrálást el kell végezni.

[2013-07-03 06:49] vbalazs commented on #27
a commons lang lehet, hogy pont nem is kell már, mint ha a springldap miatt kellett volna...

[2013-07-03 08:43] tmichel commented on #27
a commons lang a confirmation code generálás miatt kell. és a web projektbe van behúzva. nem tudom máshol használtuk-e. most bedobtam a 3.1es verziót a fő pomba és a domainben is használom. de én nem dobnám ki, mert sajnos mindig van valami, ami a jdk-ban nincs megoldva és külső lib kell hozzá, ha nem akarom kézzel újra lekódolni.

[2013-07-05 13:40] tmichel opened #28 "Dev toolbar létrehozása"
Egy csak _development_ módban elérhető toolbarra/szekcióra lenne szükség, ahol fejlesztési időben on the fly lehetne állítani az alkalmazás bizonyos paramétereit. Ez nagyban megkönnyítené a tesztelést, lehetőséget biztosítana, hogy több felhasználóval és több jogkörrel lehessen egyes funkciókat kipróbálni.

Alapvető követelmények:
- minden oldalról könnyen elérhető
- lehet állítani az éppen bejele

[2013-07-05 22:37] tmichel commented on #26
a CreateCommunityProfile esetén nem refaktorról, hanem újraírásról van inkább szó. át kell gondolni a funkcionalitást is.

@vbalazs egy code review után szerintem ez a branch mehet a masterbe.

[2013-07-05 23:08] tmichel opened #29 "Közösségi profil létrehozásának felülvizsgálata"
Jelenleg a `CreateCommunityProfile` oldalon történik a VIR id-val nem rendelkező felhasználók számára a közösségi profil létrehozása.

A folyamatot és az opciókat át kellene nézni. Némelyik már teljesen elavult. Nagyjából 5 éve nincs már régi VIR, de még mindig van opció, hogy onnan importáljon a felhasználó adatokat.

Valójában nem vagyok benne biztos, hogy ennek az oldalnak van létjogosultsága.

[2013-07-05 23:15] tmichel opened #30 "Utolsó login nyilvántartása"
Jó lenne nyilvántartani, hogy melyik felhasználó mikor lépett be utoljára. Lehetséges, hogy ezt OpenAM-en keresztül kéne menedzselni.

A bevezetés után fél/egy év alatt kiderülne, hogy ténylegesen ki az inaktív felhasználó. Ez nagyban könnyítené a címtár (#24) és a virdb adattisztítást a jövőben.

[2013-07-05 23:19] tmichel opened #31 "Google Analytics mellőzése DEVELOPMENT környezetben"
Jelenleg a fejlesztés közben is küldjük a nézettségi statisztikákat GA-ba.

Két opció:
- kapcsoljuk ki teljesen a fejlesztés idejére (+1 részemről)
- legyen külön GA tracking kód és használjuk azt

[2013-07-06 08:41] vbalazs commented on #31
ez elvileg már fixed
https://github.com/kir-dev/korok/commit/556c974369521bd6a133f4272e9fb85b60de4d5f

https://github.com/kir-dev/korok/blob/556c974369521bd6a133f4272e9fb85b60de4d5f/sch-pek-web/src/main/java/hu/sch/web/wicket/components/choosers/GoogleAnalyticsScript.java#L17

[2013-07-06 10:29] tmichel commented on #31
és tényleg megvan már, csak sikerült átnézni rendesen a kódot.

[2013-07-06 10:29] #31 closed, assigned to nobody

[2013-07-06 13:17] tmichel commented on #21
új koncepció szerint ez már elévült.

[2013-07-06 13:17] #21 closed, assigned to tmichel

[2013-07-06 13:22] tmichel commented on #22
ez elévült a címtár-db egységesítési tervek miatt

[2013-07-06 13:22] #22 closed, assigned to nobody

[2013-07-06 13:24] tmichel commented on #29
a címtár-db összevonáskor, minden user kap majd "közösségi profilt" (lesz db rekord hozzá)

így ez az issue elévült!

[2013-07-06 13:24] #29 closed, assigned to nobody

[2013-07-06 13:29] tmichel opened #32 "Taskok migrálása redmine-ról"
a régi taskokat áthozni redmineról és felvenni hozzá github issue-t

lehetek olyan issue-k, ami már elévülteket, ezekről dönteni kell, hogy kidobjuk-e.

[2013-07-06 13:36] vbalazs opened #33 "Módosított regisztráció portolása 2.6-ba"
Elég sok mindent változtatunk a 2.6-ban, a legfontosabb a datastore-ok rendbetétele és egységesítése, ehhez hozzá kell igazítani a 2.5.x-ben gólyaidőszakra refaktorált regisztrációt #20

[2013-07-06 13:42] tmichel commented on #24
a címtár-db összevonás miatt ez elévül.

lásd még: https://gist.github.com/tmichel/5939782

[2013-07-06 13:42] #24 closed, assigned to nobody

[2013-07-07 01:02] vbalazs commented on #23
[doksi a wikin](https://redmine.kirdev.sch.bme.hu/projects/vip/wiki/Tesztadatok_gener%C3%A1l%C3%A1sa_haszn%C3%A1lata_stewien)

még a portokat meg kell nyitni, tűzfalat kell konfigurálni

[2013-07-07 09:16] vbalazs commented on #16
itt lehet olvasni a tesztelésről is JAXRS 2.0-val
http://www.oracle.com/technetwork/articles/java/jaxrs20-1929352.html

hasznos lehet előtte elolvasni és tesztet írni a webszolgáltatásokhoz

[2013-07-07 09:18] vbalazs commented on #15
itt lehet olvasni a tesztelésről és az interceptorokról JAXRS 2.0-ban
http://www.oracle.com/technetwork/articles/java/jaxrs20-1929352.html

célszerű lehet előtte elolvasni és tesztet, log interceptort írni a webszolgáltatásokhoz

[2013-07-07 09:51] vbalazs commented on #23
[todo, `sequel_pg` gemnek utánanézni](https://github.com/kir-dev/korok/commit/067b0edd88232fb0e4a93d65d7b989c3b14cb85e#commitcomment-3578675)

[2013-07-07 10:30] tmichel commented on #26
ez a címtár->db migrálással egyszerűsödik majd.

[2013-07-07 10:30] #26 closed, assigned to tmichel

[2013-07-07 11:05] vbalazs commented on #23
portok megnyitva, doksi frissítve

[2013-07-07 11:32] #23 closed, assigned to vbalazs

[2013-07-07 11:42] tmichel opened #34 "User entitás kiegészítése"
A címtár és a db egységesítés első lépése. A `User` entitást kiegészítjük a címtárban tárolt adatokkal.

A fotókat mostantól nem blobban, hanem fájlrendszerben fogjuk tárolni.

Bővebben a [ebben a gistben](https://gist.github.com/tmichel/5939782).

[2013-07-09 22:11] tmichel opened #35 "LDAP hozzáférés ne mindig root userként történjen"
Jelenleg a felhasználó a címtárhoz mindig admin felhasználón keresztül fér hozzá, miközben csak néhány olyan művelet van, aminél ez indokolt.

Utána kell nézni, hogy a címtárban a mezei felhasználóknak milyen jogosultságaik vannak.
- Milyen bejegyzéseket tudnak módosítani? Csak saját magukat, vagy mindenki mást is?
- Tudnak-e keresni?

A regisztrációhoz (új felhasználó bejegyzése a címtárba) minde

[2013-07-10 22:12] tmichel commented on #34
lényegében a 0607cbeb3d5dc0eb834a40c5e6710c227d68c3c9 lezárja. még code reviewra vár (@vbalazs)

[2013-07-10 22:52] tmichel opened #36 "EJB rétegben a user kezelés kiegészítése"
A felvett új attribútumokat is kezelni kell az ejb rétegben. Egységesíteni kell a Person és a User osztály manipulálását. Ezzel párhuzamosan az LDAP-hoz kapcsolódó osztályokat át kell alakítani és felkészíteni arra, hogy már csak szinkronizálási szerepük van. Ide kapcsolódik a #35 is.

User kezeléssel kapcsolatos EJB interfészek:
- `EntitlementManagerLocal`: ezt kidobjuk a `CreateCommunityProfile`

[2013-07-10 22:57] tmichel commented on #35
Ez lehet, hogy mégsem megvalósítható, mert a felhasználó jelszava nem áll rendelkezésre, amivel LDAP-on keresztül tudnánk bindolni az OpenDJ-hez. A users táblában semmiképp nem lenne jó tárolni a jelszót csak azért, hogy az ldaphoz a user nevében férjünk hozzá.

Esetleg jó lenne egy nem admin felhasználó is a címtárban. Ekkor lehetne, hogy a nem admin köteles műveletek ezen a csökkentett jogkörű f

[2013-07-14 14:33] #20 closed, assigned to vbalazs

[2013-07-17 13:05] #34 closed, assigned to tmichel

[2013-07-17 17:07] tmichel opened #37 "Entity annotációkat a getterekről a mezőkre áthelyezni."
Jelenleg a domain osztályokban a gettereken vannak az annotációk. Talán jó lenne áthelyezni őket a mezőkre. ([már beszéltünk róla](https://github.com/kir-dev/korok/commit/0607cbeb3d5dc0eb834a40c5e6710c227d68c3c9#commitcomment-3629658))

Javítaná az átláthatóságot.

[2013-07-17 17:56] tmichel opened #38 "Ajánlott profilképeknél áttérni BLOBos tárolásról a fájlrendszerre"
Jelenleg a képeket, amiket a gólyáknak profilképként ajánlunk, adatbázisban BLOB-ban tároljuk. Ahogy profilképeknél is, úgy itt is át kellene térni arra, hogy a fájlrendszerben tároljuk a képeket.

Kellene:
- `SpotImage` osztályt módosítani
- SQL-t írni
- átnézni a folyamatot ejb és web oldalon is
- régi képeket kidobni az adatbázisból, már úgysem használhatóak
- wicket oldalon felkészülni arra, h

[2013-07-17 20:30] tmichel opened #39 "Event, EventType egységesítés"
Úgy tűnik a `Log` entitás a körökkel kapcsolatos egyes eseményeket hivatott rögzíteni. Jó lenne tudni pontosan mire is jó. Ennek a kiderítése a feladat első része.

A feladat kódolós része pedig az lenne, hogy az `Event` és `EventType` osztályokat vonjuk össze. Az `Event` most egy entitás, de valójában csak egy id és egy `EventType` típusú mező összekapcsolva. Jelenlegi formájában nem sok értelme

[2013-07-19 23:14] tmichel commented on #38
Ebbe menet közben bele kellett nyúlnom.

A következők készültek el:
- `SpotImage` módosítás
- SQL

Új részfeladatként bejön a SPOT képek felöltésének a kezelése. Ez a `ImageManagerBean` ejb-ben van megvalósítva. Itt is a fájlrendszerben kell tárolni a képeket. Érdemes lehet egy helyen tárolni a profilképekkel.

Ezen túl létre kell hozni egy új konfigurációs pontot, ahol beállítható a képek tárolás

[2013-07-20 22:47] #37 closed, assigned to nobody

[2013-07-20 22:51] vbalazs commented on #35
valóban, ezt vegyük ki ebből a milestone-ból, később foglalkozunk ezzel

[2013-07-21 10:10] #27 closed, assigned to nobody

[2013-07-21 10:30] vbalazs commented on #30
ezt a postprocessing modulban kellene megvalósítani. lehet, hogy valaki nem a PéKbe lép be, hanem mindig federációban lévő oldalakra.

edit: see kir-dev/vir_postprocessing#1

[2013-07-21 10:35] #30 closed, assigned to nobody

[2013-07-21 13:01] tmichel opened #40 "Admin oldal az inaktív felhasználók listázására"
Először meg kell vizsgálni, hogy egyáltalán ez a funkcionalitás szükséges-e.

Ha igen, akkor egy, csak adminok által elérhető oldalt kell létrehozni, ahol az SSO-ban inaktív felhasználókat jelenítjük meg.

A felhasználók aktív státuszát csal a címtárban tároljuk (`inetUserStatus`).

Ez majd a `ShowInactive` oldalt fogja kiváltani.

[2013-07-21 20:00] tmichel opened #41 "Kivételkezelés: logolás és csomagolás"
Át kell nézni a kivételkezelést az EJB rétegben. Minden kivétel esetén el kell dönteni, hogy helyben kezeljük-e le, vagy inkább tovább dobjuk a web rétegbe.

A kivételek logolását mindenhol be kell vezetni. Esetleg a logolási szintet lehetne egyeztetni és valami konvenciót megfogalmazni az utókor számára.

A webrétegbe csak a saját kivételeinkbe csomagolt system exceptionöket dobjuk tovább. Ne ker

[2013-07-21 20:03] vbalazs commented on #41
Át kell nézni a sample logback.xml konfigurációt is, nem egészen világos melyik log melyik fájlba kerül is miért.
Ki kell találni rendesen és megcsinálni hozzá a logback configot.

Én ott választanám külön, hogy web | minden más. Bármilyen ötlet / best practice jöhet.

[2013-07-22 14:54] tmichel commented on #38
Szerintem a SPOT képek betöltésének felesleges egy EJB-t fenntartani. A kép importáló folyamatot egy scriptbe is ki lehet nyomni. Ráadásul ez az importálás valójában csak évente 1x történik, a gólyatábor után

[2013-07-22 14:59] vbalazs commented on #38
:+1:

[2013-07-22 15:25] tmichel commented on #36
már csak a regisztráció portolása hiányzik.

összes ldap művelet az `LdapSynchronizer` osztályon keresztül.

[2013-07-22 21:49] vbalazs commented on #36
a `UserManagerBean::createUser` [metódusában](https://github.com/kir-dev/korok/blob/master/sch-pek-ejb-impl/src/main/java/hu/sch/ejb/UserManagerBean.java#L131) a persistet nem kellene inkább a `sync.createEntry(user, password, status);` sor után tenni? így "tranzakcionálisabb" jellegű lenne. Most simán lehet az, hogy a db-be beszúrja, de az ldapba nem sikerült, ezt kézzel kezelni utána macerás. ha

[2013-07-22 22:04] vbalazs commented on #36
reg merge: 927615f63, ca1d42f9c (#33)

[2013-07-22 22:04] #33 closed, assigned to vbalazs

[2013-07-23 10:34] vbalazs commented on #36
88f04d90a5dceacdf506d37fc9784a70fed88860

[2013-07-23 10:34] #36 closed, assigned to vbalazs

[2013-07-23 15:56] tmichel commented on #38
Import scriptben lehet, hogy jó lenne a fájlokat átnevezni és nem az eredeti neptun kódot tartalmazó fájlnevet használni.

[2013-07-23 16:05] vbalazs commented on #38
Privacy? vagy van valami egyéb oka?

[2013-07-24 07:37] tmichel commented on #38
igen privacy, meg hogy legyen egy konzisztens elnevezési konvenció a képekre, amit a fájlrendszerben tárolunk

[2013-07-24 07:46] vbalazs commented on #38
számolhatnánk rájuk sha1 hasht és lehetne az a nevük. :icecream:

[2013-07-24 07:50] tmichel commented on #38
akár azt is lehet. sőt. ez jó is lesz és akkor tök mindegy, hogy milyen formában kerül le a userhez, akár a fájlnév is megjelenhet. :) és akkor a teljes fájlra számolunk egy sha1et vagy md5öt ez már tökmindegy.

[2013-07-24 07:54] vbalazs commented on #38
valójában igen.
dönthetünk performancia okokból md5 mellett is, de ezt mérni kellene (a mai processzorok elvileg tartalmaznak utasítást a sha hash számításra, szóval nem biztos, hogy jelentkezik különbség).

a mediawiki md5-öt használ a latex képek rendszerezéséhez, én a sha párti vagyok :) bár gyakorlatban ~500 képnél nem jelentkezhet hash collision.

[2013-07-25 23:41] tmichel commented on #41
A kivételkezeléshez létrehozunk néhány (minél kevesebb) `ApplicationExceptiont`. Az egyes hibatípusok megkülönböztetésére hibakódokat használunk.

A hibakódokat `enum`-ban írjuk le. Tartozik majd hozzájuk egy property fájlba felvehető string kulcs is, így a felhasználói értesítés is megoldható a webrétegben viszonylag fájdalommentesen.

Az exceptionök részletei kidolgozásra várnak, ahogy a hibakód

[2013-07-26 06:46] messo commented on #41
A hibatípusok - hibakódok <-> exception rész nem világos. Minek az enum? Mindegyik esetre külön exception, amit az `ApplicationException`-ből származtattok, vagy ti olyat csinálnátok, hogy `throw new ApplicationException(ErrorCodes.DAFAQ_JUST_HAPPENED)` ?

[2013-07-26 08:39] vbalazs commented on #41
utóbbira gondoltunk :panda_face:

[2013-07-26 08:39] tmichel commented on #41
@messo pontosan mint a második, amit írsz. többek között az szeretnénk elkerülni hogy a webben úgy nézzek ki a dolog, hogy

[code]

Most hirtelen nagyon efelé indultunk és ez így nem túl karbantartható.

[2013-07-26 08:51] messo commented on #41
Hmm, erre egy ötletesebb exception hierarchia vagy JDK7-es `catch (AException | BException | CException ex)` lehet a megoldás?

[2013-07-26 08:59] vbalazs commented on #41
használtuk pl itt: https://github.com/kir-dev/korok/commit/927615f63ec2df1589f6ff4e3d0b0cb8bd3a2179#L14R159

de ez sem tökéletes megoldás.
ha az exceptionoket nagyon hierarchiába rendezzük és úgy kapkodjuk el a szülő exceptionként (pl: InvalidNewbieStateException < RegistrationException, UserAlreadyExistsException < RegistrationException) akkor meg általános exceptionbol lesz megint para, pl. User

[2013-07-26 09:02] messo commented on #41
Stimmt, ti látjátok mit szeretnétek, ha tényleg nem kell semmilyen elágazó logika, akkor fincsi a paraméterezett exception. Ahol pedig esetleg kellhet ott lehet érdemesebb inkább két kül. exception, minthogy az enum értékétől függően csináltok valamit.

[2013-07-26 20:57] tmichel opened #42 "Session megszüntetése"
Jelenleg a sessionben feleslegesen tároljuk a userid-t, de közben ez mindig kiolvasható a request objektumból is.

A bejelentkezett userhez való hozzáférést központosítani kell a `UserAuthorization` interfészen keresztül. Minden más módot meg kell szüntenti, így a sessiont is.

[2013-07-29 19:15] #38 closed, assigned to tmichel

[2013-07-29 19:39] tmichel opened #43 "Migráló script (címtár -> db)"
Lépések
- "közösségi profil" (db rekord) létrehozása annak, akinek még nincs
- not null mezőkre figyelni, ha címtárban nincs kitöltve:
  - usr_screen_name ahol nincs legyen userXXX
  - usr_gender: legyen not specified
  - usr_student_status: inaktív
- privát attribútumokat is migrálni kell, mert az új modellben minden privát alapból így senkinek semmi nem látszik a profiljából
- címtárból a képeke

[2013-08-11 18:00] vbalazs commented on #43
@tmichel ezzel tudnál foglakozni?

[2013-08-11 18:01] vbalazs commented on #41
írtam egy ilyet:
https://redmine.kirdev.sch.bme.hu/projects/vip/wiki/PEKKonvenciok#Naplzs

[2013-08-11 18:02] vbalazs commented on #28
erre vállalkozott végül valaki?

related: https://trello.com/c/Ry1L9I9E/25-dev-toolbar-a-korokhoz

[2013-08-11 18:16] tmichel commented on #43
igen, ezt megírom én. 08.14. után.

[2013-08-11 18:17] tmichel commented on #28
nem, de jó lenne, ha nem mi csinálnánk meg. ez egy szép összetett feladat, megismerné az illető a webréteget legalább.

@vbalazs listán hirdessük még!

[2013-08-11 18:45] vbalazs commented on #28
július 5-én küldtél ki erről egy levelet már listára, egyedül Ksisu érdeklődött, de ő max csak augusztus végétől tudna vele foglalkozni (szvsz akkor sem )

szerk.: áttettem másik milestoneba, mert ez valószínűleg blokkolná a 2.6-os release-t és azt még a hónapban szeretnénk élesíteni.

[2013-08-11 18:51] vbalazs commented on #43
sok sikert a kresz vizsgához!:) :car:

[2013-08-11 21:36] vbalazs commented on #18
maradt még egy kis meló a TimerServiceBeanben, de azt bonyolultabb lenne kibogarászni, most nem biztos, hogy megéri az időt.

a lényeg, hogy nagyrészt sikerült kiírtani a dolgot, a webrétegből már nem is lehet emailt küldeni. ezentúl már lehet használni a kidolgozott módszert.

[2013-08-11 21:36] #18 closed, assigned to vbalazs

[2013-08-11 21:39] vbalazs opened #44 "Migráció JBoss 7.1.3-ra"
A javaee agent még nem támogatja hivatalosan glassfish4-et ~~Meg kell nézni, hogy a gyakorlatban működik-e, ha nem, akkor nem-e tudunk patchet készíteni az agenthez.~~ és a közeljövőben nem is fogja.

Mivel nem szeretnénk hosszú távon az Oracle-től függni és a jboss most menő, ezért úgy döntöttünk, hogy appcontainert váltunk.

Szükség van a következőkre:
- [x] agent telepítés, tesztelés
- [x] kód

[2013-08-15 21:13] tmichel commented on #43
felhasználó státusza is kerüljön át az adatbázisba:
- users táblához új mező: `status`
- címtárból (inetUserStatus) átmásolni minden rekordhoz. fallback `inactive`-ra

jelszóval is valami hasonlót kell:
- kell új mező az users táblába
- át kell másolni a címtárból
- hash-eléssel hogy legyen?
- mi van ha valakinek nincs? lehet ilyen?

[2013-08-15 21:36] vbalazs commented on #43
őőő, ez egy kicsit komplikált, mert a cimtarban ugy van tarolva, hogy base64(append_bytes(jelszohash, salt)). ezt szét kell vágni és két külön oszlopban tárolni. (tehát kell egy usr_password_salt mező is). erre van nekem egy java kódom, ami ezt megcsinálja, kinéztem a címtár forrásából. átírod rubyba java kodot vagy atirjam én?:)

elvileg nem lehet. címtárban csak jelszóval lehet benne a tag, visz

[2013-08-19 08:30] tmichel commented on #43
Az olyan felhasználóknak, akiknek valamiért nincs hallgatói státusza a címtárban felveszünk egy új értéket: `UNKNOWN`. Ezt tovább kell majd vezetni az enumba is, és a felületre is ki kell tenni egy figyelmeztetést, hogy ha a felhasználó ezt látja, akkor forduljon a supporthoz és megoldjuk.

[2013-08-19 20:59] vbalazs commented on #39
A `Log` entitás valóban a körökkel, pontozásokkal kapcsolatos események tárolására szolgál. Naplózzuk ezeket az eseményeket és időnként reportokat küldünk az érintetteknek (körvezetők, SVIE), lásd `TimerServiceBean`.

[2013-08-20 13:49] vbalazs commented on #39
fixed in 0d1efdfb2fac

[2013-08-20 13:49] #39 closed, assigned to vbalazs

[2013-08-21 06:37] vbalazs commented on #19
Ahogy látom ez ki lett szedve valamikor.
Egyedül az admin általi felhasználó létrehozáskor jelentkezett ez a probléma, a `CreateNewPerson` oldalból kiindulva. Ha az admin létrehoz egy felhasználót, akkor egy random 10 karakteres jelszó kerül beállításra, amely jelen állás szerint nem kerül kiküldésre.

Ehhez kapcsolódik, hogy jelenleg a User#confirmationCode-ot sehol nem állítjuk be, egyedül olvas

[2013-08-21 06:41] vbalazs opened #45 "Elfelejtett jelszó"
Jelenleg az elfelejtett jelszó szolgáltatást az OpenAM nyújtja, aminek a működését mi patcheltük meg korábban.

Most, hogy dobjuk a címtárat, meg kell vizsgálni, hogy az OpenAM hogy küldte eddig a jelszó emlékeztetőt és hogy ez a működés megvalósítható-e adatbázissal.
Ellenőrizni kell, hogy nem-e küld ki plain text jelszót, nem-e írja a confirmationcode értékét.

Kapcsolódó issue: #19

[2013-08-21 07:54] tmichel commented on #19
A confirmation code-t a `CreateCommunityProfile` page-n állítottuk be régen, de ez most törlődött. Gondolom a regisztrációnál lenne érdemes beállítani. Egyáltalán küldünk még megerősítő emailt? :)

[2013-08-21 08:01] vbalazs commented on #19
Jelenleg nem küldünk semmilyen esetben megerősítő emailt. Ki kell találni, hogy hogyan működjön ez pontosan, mikor és mit küldjünk. Ehhez megnézem a #45 működését, hogy aztán ne kelljen elölről kezdeni.

[2013-08-24 16:46] tmichel opened #46 "Jelszókezelés LDAP nélkül"
Most, hogy eltávolítjuk az LDAP függőségeket, a jelszót is nekünk kell kezelni. Ez a #43 issue egyik részfeladatából nőtte ki magát.

A következő feladatok vannak:
- Jelszó mentése új felhasználó létrehozásánál. Itt szükséges a jelszót az OpenAM által elvárt formátuma hashelni (SHA1) valamint a saltot adni hozzá. Valamint mindkettőt tárolni.
- A jelszóváltoztatásnál tudni kell ellenőrizni a jelszó

[2013-08-24 17:44] vbalazs commented on #46
itt jelszó policyra gondolsz? azt ki is kellene találnunk :)
kapcsolódó issue #45

[2013-08-24 17:55] tmichel commented on #46
egyrészt igen. a kellene egy policy. de konkrétan arra gondoltam, hogy tudjuk ellenőrizni, hogy a jelszava helyes. a jelszóváltoztatásnál elméletileg be kell kérni a régi jelszót is mindig. ha most nem így van, akkor meg kell változtatni a felületet is.

[2013-08-24 21:39] vbalazs opened #47 "Kisbetűs neptunkódok"
Jelenleg 100 felett van a kisbetűs neptun kódok száma, a nagyobb probléma viszont az, hogy így lehetnek duplikátumok (kis-nagybetűs két külön neptun kódnak számít a DB-nek!). Ezeket meg kell szüntetni és ki kell nyomozni a kódban, hogy jelenleg kerülhetnek-e be kisbetűvel.

[2013-08-24 21:45] vbalazs commented on #47
Ha sikerült javítani és nem okoznak problémát az üres neptun kódú rekordok, akkor esetleg érdemes lehet ezt megpróbálni:
http://binodsblog.blogspot.hu/2011/02/postgresql-unique-constraint-confusion.html

[2013-08-25 00:22] vbalazs commented on #43
#47 -es issue kavarodás miatt, ha benne van már a db-ben a mail címe, neve, stb, akkor azt a címtárban lévő értékkel csapjuk felül. most hirtelen nem emlékszem, hogy így van-e.

[2013-08-25 07:01] tmichel commented on #43
igen ez így van. valójában ez minden esetben így van. ha vir id-val találjuk meg akkor is. mindig a címtárat tekintjük frissnek és mérvadónak.

[2013-08-25 09:51] #43 closed, assigned to tmichel

[2013-08-25 09:53] tmichel commented on #46
fixed in 6162136480db49624933a56ff771adc8c77348f2

[2013-08-25 09:53] #46 closed, assigned to tmichel

[2013-08-25 09:57] vbalazs commented on #47
kapcsolódó kommit: 91c8e4ecfc38e3e5e269db1278c1f274084e51a5

[2013-08-25 17:56] vbalazs opened #48 "Admin felület - új felhasználó hozzáadása"
Át kell nézni az admin felületen, hogy csak érvényes felhasználókat lehessen létrehozni.

Bekerült egy felhasználó pl. ékezetes uid-del. Meg kell vizsgálni, hogy még van-e valahol valamilyen rés, amivel érvénytelen felhasználókat lehet létrehozni.

[2013-08-25 18:47] tmichel commented on #48
Lehetséges, hogy némi adminisztratív változás is szükséges lenne, hogy csak kijelölt személy férhessen hozzá az éles adatbázishoz, hogy ne történjen kézzel belenyúlás meg random import. Vagy ha ezekre mégis akkora igény van, akkor kell egy lista, amin végig lehet menni és kivel kell egyeztetni stb.

Sőt, ha a "kézzel importra" valós igény van, akkor lehetséges, hogy az admin felületet kellene kieg

[2013-08-26 14:54] vbalazs opened #49 "Új webszolgáltatás - átadott felhasználó körtagságai"
A KSZK-nak szüksége van egy új webszolgáltatásra a körös hálóregekhez.
`input: neptun, output: kör id, kör név, user státusza (tag/körvezető)`

Specifikálni kell az interfészt és megvalósítani, _tegnapra_.

[2013-08-26 18:14] vbalazs commented on #35
ez totál deprecated

[2013-08-26 18:14] #35 closed, assigned to nobody

[2013-08-30 17:36] #49 closed, assigned to vbalazs

[2013-08-31 10:04] vbalazs commented on #47
- expression index beállítva az élesen (756a2c542)
- éles db-ben neptunok nagybetűsítve: sajnos folyamatosan kerülnek bele kisbetűvel, ezért migrálás előtt erre figyelni kell

ha jól látom ez a masterben javítva van

[2013-08-31 10:15] #47 closed, assigned to vbalazs

[2013-08-31 17:56] tmichel commented on #19
Speciális eset, ha az admin regisztrál be egy új felhasználót (#48). Ekkor a felhasználó még nem kap jelszót. Azt **mindenképpen** szeretnénk elkerülni, hogy jelszót plain textben küldjünk ki a felhasználóknak. Ebben az esetben a megerősítő oldal egy picit bonyolultabb lesz. Két feladatot kell ellátnia:
- Rendes regisztráció, a user accountjához csak megerősítés szükséges, ilyenkor már rendelkezik

[2013-09-02 20:57] vbalazs commented on #45
Ezt a funkciót PéK-ben valósítjuk meg.
Ki kell találni, hogy mi alapján küldjünk jelszóemlékezetőt. Én a regisztrált e-mail címre szavazok, arra nagyobb eséllyel emlékeznek / tudják az emberek, mint a felhasználónevüket, amit oly' gyakran elfelejtenek.

No meg most a migrálás során lesz egy rakat test([0-9])+ felhasználónevű kliens is, amiket lehet pörgetni, ha valaki elég gonosz akar lenni.

Errő

[2013-09-02 21:33] tmichel commented on #45
Szerintem is legyen mail cím alapján. Ha már a user nevet meg lehet kérdezni mail cím alapján akkor értelemszerű lenne, hogy ez is aszerint menjen.

Bár itt én felvetném, hogy a jelszó emlékeztetőben a felhasználónevét is érdemes lenne elküldeni, és akkor lehetne egységesíteni az elfelejtett felhasználónév és jelszó dolgokat.

[2013-09-03 11:17] #16 closed, assigned to nobody

[2013-09-03 22:49] vbalazs commented on #44
Amiket idáig találtam:
- a domain lib/ könyvtárába nem másolódnak be a jarok
- a locale properties fájlok nem másolódnak a lib/classes/ könyvtárba
- egy osztály más csomagba került, így az agent nem találja ([GLASSFISH-17451](https://java.net/jira/browse/GLASSFISH-17451?focusedCommentId=357836&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#action_357836))

~~Mielőtt nagy p

[2013-09-03 22:58] vbalazs commented on #45
:+1:

[2013-09-04 19:29] #19 closed, assigned to tmichel

[2013-09-09 19:03] #17 closed, assigned to tmichel

[2013-09-15 00:31] vbalazs commented on #44
Ezt a bug refet lehagytam: _@ Context injection doesn't work in JAX-RS/EJB bean_ ([RESTEASY-532](https://issues.jboss.org/browse/RESTEASY-532))

[2013-09-15 12:28] vbalazs opened #50 "Küldöttek listájának exportja nem működik"
Kaptunk egy bejelentést, mi szerint a küldöttek listájának exportja _(Adminisztráció/KGY küldöttek listája)_ nem működik.

Meg kell nézni mi a probléma és patchet kiadni vagy workaroundot találni rá. Viszonylag sürgős a dolog.

[2013-09-15 13:05] vbalazs opened #51 "Kitöltetlen szobaszám megjelenítése"
A szobaszám megjelenítése valamiért nem stimmel migrálás után, pl. esetemben ez jelenik meg:
_Szoba  null null_

[2013-09-16 08:03] tmichel commented on #51
Azt hiszem ez én voltam.

[code]

[forrás](https://github.com/kir-dev/korok/blob/master/sch-pek-domain/src/main/java/hu/sch/domain/user/User.java#L575)

Okosítani kell a függvény kimenetén. Ma este megpróbálok rá időt szakítani.

[2013-09-16 12:22] vbalazs opened #52 "Kör adatlap - bizonyos esetben a posztok 8x jelennek meg"
Pl. A kir-dev kör adatlapján bizonyos posztok 8x íródnak ki egymás után.
Jelenleg a jboss provided hibernete modult használjuk, gyanús, hogy hibernate bug. De meg kell vizsgálni pontosan és kitalálni a megoldást.

Ha az újabb hibernate megoldja, akkor több lehetőség van:
- jboss hibernate modul frissítés (annyira nem szép)
- kockáztatni és a jboss modul ellenére az alkalmazásba csomagolni
- az alk

[2013-09-16 18:31] tmichel commented on #52
development környezetben glassfishen a ddfb5d2702c774f7b65e755a0e89cae114d6feb7 commitnál még jó.

[2013-09-16 18:54] #51 closed, assigned to tmichel

[2013-09-16 19:17] #52 closed, assigned to vbalazs

[2013-09-16 20:55] #50 closed, assigned to nobody

[2013-09-17 09:56] vbalazs commented on #45
Ez most lehet, hogy nem fér bele péntekig, de néhány napig tudjuk nélkülözni a funkciót. Később kiadunk egy patchet.

[2013-09-21 00:38] vbalazs opened #53 "Képek elérési útjában nagybetűk"
Meg kell vizsgálni, hogy ez problémát okoz-e, illetve jó lenne, ha nem lennének :) a user neveket is lehet, hogy kisbetűsíteni kellene.

migrálást elvileg már nem tudunk csinálni, mert visszaengedjük a felhasználókat szombatra. erre lehet, hogy kell egy szkript, ami javítja vagy nem tudom.

`$ ls applications/korok/photos/`
`0  1  9  a  b  c  d  e  E  f  g  h  i  j  J  k  K  l  m  n  o  p  q  r  s

[2013-09-22 09:19] hgabor opened #54 "Kereséskor user duplán szerepel"
Több usernél is előfordul, pl. https://korok.sch.bme.hu/korok/search/type/user/key/vegera

[2013-09-22 18:14] #54 closed, assigned to nobody

[2013-09-22 22:12] hgabor opened #55 "Körökre kereséskor üres találati lista"
Pl. https://profile.sch.bme.hu/korok/search/type/group/key/KIR

[2013-09-23 10:58] aldaris commented on #44
Csak annyit tennék hozzá, hogy ezeket a mappeléseket az agent szintjén is el lehet végezni, lásd http://docs.forgerock.org/en/openam/10.1.0/admin-guide/index/chap-agents.html Privilege Attributes Processing properties szekció.

[2013-09-23 11:04] vbalazs commented on #44
Jól hangzik. Megnézem, köszi!

[2013-09-24 23:04] vbalazs opened #56 "Körök korábbi értékeléseinek megtekintése"
pl.: korok/valuationdetails/id/189900

[code]

Egy másik eset, de szerintem kapcsolódik:
korok/grouphistory/id/31/sid/201220132

[code]

[2013-09-24 23:06] vbalazs opened #57 "Néhány kör adatlapja - körvezetőként nézve - hibát dob"
valami svie állapot furcsaság lehet:
korok/showgroup/id/56

[code]

[2013-09-29 14:43] vbalazs commented on #57
nem tudom reprodukálni :(

[2013-09-29 14:47] tmichel commented on #57
próbáltad nem adminként?

[2013-09-29 15:51] #56 closed, assigned to nobody

[2013-09-29 16:12] vbalazs commented on #57
a hiba körvezetőként jelentkezett. elképzelhető, hogy cache para. nehéz lesz reprodukálni.

[2013-09-29 17:44] tmichel opened #58 "Ékezetes betűk helyett � a user táblában"
Az user táblában a címtárból migrálás után néhány helyen elromlott az ékezetes betűk kódolása. Sajnos nem arról van szó, hogy csak a felületen jelenik meg rosszul. Az adatbázisban rossz adatok szerepelnek. � az adott betű helyett.

Vonatkozó #kir-dev channel log

A megoldás lehet szólisták használata. Ez a keresztneveknél, helységneveknél nem gond. Az utcák már egy érdekesebb kérdés, de talán van

[2013-09-29 18:00] vbalazs commented on #58
lehet, hogy én egyszerűsítem túl a problémát, de én így javítanám:
- végigmegyek minden soron és az érintett oszlopokból elmentem azokat a szavakat, amikben van � karakter (ha már egyszer szerepel a szó a listában, akkor nem mentem el)

Első körben megnézem, hogy egyáltalán hány ilyen szó van, lehet-e kézzel javítani. Esetleg erre a listára lehet aztán ráreszteni néhány szó listát (tipikusan nevek

[2013-09-29 20:35] #55 closed, assigned to nobody

[2013-09-30 07:34] Ksisu commented on #58
Hmm.. a google "szólistákra" énekeseket dob ki :/ Am én nekiesnék.

[2013-09-30 09:27] vbalazs commented on #58
@Ksisu  Nyugodtan kezdd kutatással. Néhány sql lekéréssel csinálj egy szólistát az érintett szavakról a db-ben. DB dumpért írj rám irc-n/talkon.

[2013-10-02 21:34] tmichel opened #59 "Profilképek backupja"
Az 2.6-os átállás óta a profil (és egyéb) képekről nem készül biztonsági mentés.

Jó lenne, ha naponta készülne róla valamilyen formában backup. Még jobb lenne, ha inkrementális lenne, és csak néha lenne teljes.

A feladat részei:
- a backup script megírása
- brianen a script belövése

[2013-10-03 20:30] vbalazs opened #60 "Profilképek megjelenítése"
Kinyomoztam mi a para.
Szóval az újra feltöltött képekkel tényleg működik, a hiba a migráló scriptben volt :(
a script így mentette:

[code]

pékből feltöltés után már jó a mező tartalma:

[code]

Ki kell javítani a meglévőket vagy újramigrálni a képeket, de az időközben feltöltötteket (amik nem `(` karakterrel kezdődnek) nem szabad bántani.

Újramigrálás esetén related #53 (migrálás óta feltöltöt

[2013-10-03 20:31] vbalazs commented on #57
egyelőre hagyjuk.

[2013-10-03 20:31] #57 closed, assigned to nobody

[2013-10-03 20:32] vbalazs commented on #59
@Kresshy ? Ha a bash nem elég hozzá, akkor esetleg pythonban lehetne okosat alkotni (előtte brianen ellenőrizd a python3 verziót!)

[2013-10-03 21:53] Kresshy commented on #59
@vbalazs python3 helyett 2.7-ben inkább, csinálhatok egy scriptet ha elmondod mit hol találok...

[2013-10-03 22:18] vbalazs commented on #59
miért is?

igazabol az a szkript szempontjabol lenyegtelen, ne a prod szerveren ird meg :D egy pelda kep fajlstrukturát láthatsz az idp:/var/appserver/applications/korok/photos konyvtárban. Egyelőre még elég kaotikus, mert van kis/nagybetű is, de ez nemsokára javítva lesz. Nagyjából látod itt, hogy hogyan néz ki.

[2013-10-04 06:57] tmichel commented on #60
ez nagyon érdekes. pedig én teszteltem a migrálást és akkor ment. valahogy a `File.join` nem akarta összefűzni rendesen. ennek utána kellene még járni.

a migráló scriptre már nincs szükség. lehet hogy felesleges lenne vele még időt tölteni. egy sql megoldja ezt a problémát. reményeim szerint.

[2013-10-04 07:00] vbalazs commented on #60
Ok, de az #53 -hoz akkor is kell valami okosság és itt is kisbetűsíteni kell. Végülis lehet két lépésben.

[2013-10-04 07:18] tmichel commented on #60
ez igaz. akkor szerintem írok egy scriptet, ami kijavítja mindkettőt. nem kell két lépésben.

[2013-10-05 11:08] vbalazs opened #61 "Kis-nagybetűs felhasználói nevek"
Meg kell vizsgálni, hogy mi a helyzet ezen a téren, jelenleg vannak vegyes kis/nagybetűsök is, akár egy login névben is.

A következőt javaslom:
- [x] regisztrációs időben mentsük el úgy, ahogy a felhasználó szeretné, tehát kis-nagybetűsen
- [x] bejelentkezéskor `given.lowercase=stored.lowercase` ellenőrizzük
- [x] sql-ben expression indexet kell tenni a `usr_screen_name` mezőre, mint a neptun ese

[2013-10-05 11:56] tmichel commented on #60
az új képek feltöltésénél is figyelni kell majd az elérési utak generálására. [vonatkozó kód](https://github.com/kir-dev/korok/blob/master/sch-pek-ejb-impl/src/main/java/hu/sch/ejb/image/ImageSaver.java#L84)

[2013-10-05 13:08] hgabor opened #62 "Értékelés leadásakor a mentés gomb nem ment"
Állítólag hibaüzenet nincs, csak szimplán nem történik semmi.

[2013-10-05 16:48] tmichel commented on #53
041987263f6006be57d634950dac3b3642a6a555 megoldja ezt a problémát

[2013-10-05 17:04] #53 closed, assigned to tmichel

[2013-10-06 21:29] vbalazs commented on #60
ezzel van még teendő?

[2013-10-06 21:29] vbalazs commented on #59
nagybetűs para javítva.

[2013-10-07 12:05] tmichel commented on #60
nincs. lezárom. :)

[2013-10-07 12:05] #60 closed, assigned to tmichel

[2013-10-08 08:55] hgabor opened #63 "Neptunt nem ment"
Ha adminként szerkesztek egy felhasználót, és beírom a neptunját, nem menti el (minden más adatát igen, nincs hibaüzenet).

[2013-10-08 08:59] hgabor opened #64 "Kézi reg után a megerősítés nem megy"
<pre>
Ha problémája akadt a Körök, vagy a Profil oldalakon, akkor írja ide:
-------------------------------
Felhasználói azonosító:
-----------------------
gyadam90

Meglátogatott oldal:
---------------------
https://profile.sch.bme.hu/profile

Hibajelenség:
--------------
Külsősként elvileg kaptam SSO-account-ot, de jelszót nem kaptam, a megerősítő link pedig nem csinál
semmit, úgyhogy nem tudok

[2013-10-08 19:15] hgabor commented on #64
Újabb ticket, ugyanezzel :)

<pre>
https://"profile.sch.bme.hu"/profile/confirm/code/fTEZVL8WNVT8JeLZavhD_sUOo3luI7L9vTugXZrlfz15kmnPClo4T-VvNC2u5nNv
[...] kiszedve az idézőjeleket, csak a VIR Login oldal fogad, kér felhasználónevet, jelszót. [...]
</pre>

[2013-10-08 20:06] vbalazs commented on #64
Egyrészt frissítettem a policyt, de egyelőre nem úgy tűnik, hogy átengedi az url-t.

ConfirmPage-t biztos, hogy át kell alakítani:
- homepage-re való redirecteket kiszedni, mert azok csak bejelentkezéssel érhetők el
- kell egy státusz oldal, amin megjelenítjük, hogy sikerült / nem sikerült
- ejb-ben jó lenne logolni, hogy user aktiválás történt (confirm metódus)

[2013-10-08 21:43] #63 closed, assigned to tmichel

[2013-10-08 21:49] #48 closed, assigned to tmichel

[2013-10-08 23:21] vbalazs opened #65 "Dátum formázási hiba"
https://profile.sch.bme.hu/korok/showuser/id/15148

meg kell nézni pontosan mikor - de tippre, ha nincs meg a tagság kezdeti dátuma ez jelenik meg:
`2085.09.01. - 1990.07.01.`

Ez elég bután néz ki. vagy wicket migrálással romlott el vagy eddig is ilyen volt :D

[2013-10-09 19:53] vbalazs opened #66 "Gólyák hozzáférés szabályozása"
Ez ldap filter policyvel volt megoldva, hogy a gólyák ne tudjanak hozzáférni a PéK belső oldalaihoz.

Mivel már nincs ldap, ezért ezt a PéK kódjából kell kezelni.

Ha a User `StudentStatus` értéke `NEWBIE`, akkor gólya, nekik csak a regisztrációs / elfelejtett azonosítók varázslókat szabad engedélyezni az alkalmazásból, minden más hozzáférési kísérlet esetén a 403-as oldalt kell mutatni.

Ezt a gó

[2013-10-09 21:14] #64 closed, assigned to vbalazs

[2013-10-14 10:09] vbalazs opened #67 "Tárolt eljárások és triggerek kódba mozgatása"
Jelenleg több tárolt eljárást és triggert is használunk, amelyek csak nehezítik a rendszer átláthatóságát és módosíthatóságát.

Ezeket át kell mozgatni a kódba.

[code]

[2013-10-18 12:58] Ksisu opened #68 "MediaType konstans hibás"
hu.sch.util.net.MediaType

Bezony-bezony ez szerepel a 15.sorban:

[code]

[2013-10-18 13:10] #68 closed, assigned to Ksisu

[2013-10-19 15:24] vbalazs commented on #45
Már csak az időzített task hiányzik a lejárt tokenek időnkénti törlésére és a tesztek

[2013-10-22 21:52] #45 closed, assigned to vbalazs

[2013-10-23 00:28] Ksisu commented on #65
Ilyen sort találtam a backup sqlben:

[code]

tippre ez az a sor ami a csoporttagságát rögzíti :)

[2013-10-23 10:19] vbalazs commented on #65
jó meglátás, ha már ott voltam megnéztem, hogy van-e még hasonló:

[code]

ezeket kézzel kell sajnos javítani az éles db-ben is.

[2013-10-23 15:05] #65 closed, assigned to vbalazs

[2013-10-23 16:33] #25 closed, assigned to nobody

[2013-10-23 18:01] vbalazs opened #69 "TimerServiceBean: körökhöz körvezetők keresése sok felesleges lekérdezést eredményez"
TimerServiceBean#notifyGroupLeaders

A `Log.getFreshEventsForEventTypeByGroup` query csak a log bejegyzéseket kérdezi le, ezekhez mi körönként 1x lekérdezzük a körvezetőt, ami sok kör esetén feleslegesen sok plusz lekérdezést generálhat egy for ciklusban.

Talán egy külön queryvel a körökhöz le lehetne kérdezni az összes érintett kör körvezetőjét (`IN` powa) és utána ebből a gyűjteményből válogatn

[2013-10-23 18:36] Ksisu commented on #58
Ki vannak gyűjtve a hibás szavak. Kicsivel kevesebb mint 1000 találatból kb 350 "egyedi" hibás szó van.
Valami szótárfélét kéne csinálni neki. A szólistás megoldással az a probléma, hogy a magyarországi utcanév listákhoz elég nehéz hozzájutni, valamint elírások is előfordulnak pl.: "Magyarorasz�g". Még alszom rá egyet vagy kettőt, de a felé hajlok, hogy először szétválogatom a szavakat, hogy � hel

[2013-10-24 21:06] Ksisu commented on #58
Na a szavak megfejtése megvan, 300 adta magát, a maradék 3as kombóval jött össze:

[code]

Kiderült, hogy van még 75 nickname is, azoknak majd holnap esem neki.

[2013-10-27 12:13] Ksisu commented on #58
Kész :) Sikerült egy update.sql-t csinálni, Balo felvarázsolta a DBbe.

[2013-10-27 12:13] #58 closed, assigned to Ksisu

[2013-10-30 01:08] Ksisu commented on #6
Na a megjelenésbe itt kerülnek bele a szemeszterek:

sch-pek-web/src/main/java/hu/sch/web/kp/user/UserHistory.java 129-132 sor

[code]

És mivelhogy így van specifikálva a használt függvény:

[code]

Ezért szerintem simán csak a webes rétegben kéne belevarázsolni a plusz sorokat.

[2013-10-30 08:40] vbalazs commented on #6
https://github.com/kir-dev/korok/commit/7ee8cab0a9851de3692ab2c880e272dc95b51808#commitcomment-4462497

[2013-10-31 19:32] Ksisu commented on #6
Na lett neki egy új branch és ment egy commit is, ami lényegében javítja. Kicsit át lett írva a dolog.
- UserManagerBean.getSemesterPointForUser-nek ha az aktuális vagy jövőbeni szemesztert adunk meg akkor nullát ad vissza(aktuális szemeszternél eddig rosszat adott)
- SemesterPoint eddig a webes rétegben volt(UserHistoryban :package: láthatósággal) ezt átvittem a domainbe
- UserManagerLocal.getAll

[2013-10-31 20:02] vbalazs commented on #6
szerintem ne vondd össze. jó, ha nincsenek nagy metódusok és ahogy látom a `getSemesterPointForUser` implementációja nem triviális. viszont mivel már csak ejb-ből van használva priváttá lehet tenni...

_szerk: a queryk viszont tenyleg eleg szerencsetlenul vannak megoldva. azok valoban osszevonhatok es kodbol kezelhetok._

[2013-11-06 14:10] vbalazs commented on #62
![](http://laslow.net/reactiongifs/Batch02/Free%20Software.gif)

[2013-11-07 12:40] Ksisu commented on #6
Na a UserHistoryFixing branch-ben javítva lett, lett hozzá teszt írva, viszont a teszt összetettsége miatt, csak "részlegesen" tud lefutni (nem tudja ellenőrizni az aktuális szemeszert, aminek ugye 0 pontosnak kéne lennie), amint a tesztkörnyezet is megépül köré mehet is a masterbe. Pluszba teszteltem "kézzel", ott is jónak tűnt.

[2013-11-07 12:41] Ksisu commented on #4
Hogy ne lehessen kiválasztani az már megvan, igaz még tesztelni kell. Viszont mi van akkor ha valakinek van egy SVIE elsődleges köre és ott lesz egyszer csak öregtag?

[2013-11-07 15:53] vbalazs commented on #4
Az nem para, rendes működés.

[2013-11-07 16:19] Ksisu commented on #4
Teszteltem kézzel működik. De mi lesz a SVIE tagsággal? megszűnik vagy automatikusan átállítja egy random másik körre az elsődlegest?

[2013-11-07 16:22] vbalazs commented on #4
Semmiképpen nem szűnik meg. Nem történik semmi vele.
Ha ennél több kérdésed van, akkor egy SVIE illetékest kell keresni, hogy ők mit szeretnének. De ennyire nem egyszerű, mert lehet, hogy más körben még aktív, mikor az elsődleges körében öregtaggá teszik. Tehát a SVIE tagsága nem csak egy körtagságától függ (sőt, tudtommal egyáltalán nem függ a körtagságoktól)

[2013-11-09 15:16] vbalazs opened #70 "Regisztráció idejének tárolása"
Jó lenne, ha elmentenénk a felhasználó regisztrációs idejét, később hasznos lehet.
Persze a jelenlegi x ezer felhasználóval már nem tudunk mit kezdeni, de egyszer el kell kezdeni...

[2013-11-09 22:14] #61 closed, assigned to vbalazs

[2013-11-10 17:49] vbalazs commented on #59
a munka egy másik repoban folyik: [kir-dev/scripts](https://github.com/kir-dev/scripts/tree/master/backup)

[2013-11-12 13:36] #4 closed, assigned to Ksisu

[2013-11-22 21:35] #62 closed, assigned to tmichel

[2013-11-22 21:51] #44 closed, assigned to vbalazs

[2013-11-22 23:08] #6 closed, assigned to Ksisu

[2013-12-14 18:50] vbalazs opened #71 "Profil webszolgáltatás az auth.sch projekt számára"
Szükséges egy webszolgáltatás, amin keresztül az auth.sch különböző azonosítók alapján elkérheti a felhasználói profilt.

https://trello.com/c/gL3v9JUw
https://redmine.kirdev.sch.bme.hu/projects/vip/wiki/WS_Profile

[2013-12-15 10:44] vbalazs opened #72 "Körtagságok webszolgátatás LazyInitializationException"
Refaktor során átállítottam a membership fetchet, de arról elfeledkeztem, hogy a körtagságos webszolgáltatás is erre támaszkodik, aminek kellenek a körtagságok:

https://github.com/kir-dev/korok/blob/master/sch-pek-web-services/src/main/java/hu/sch/web/rest/PekWebservice.java#L64

[2013-12-18 14:21] zolij opened #73 "szobakeresés bugos"
https://profile.sch.bme.hu/korok/search/type/user/key/1612

vs.

https://profile.sch.bme.hu/korok/search/type/user/key/Schönherz%201612

[2013-12-19 20:28] vbalazs opened #74 "SVIE ikon megjelenítés bugfix, átalakítás"
Érkezett egy automatikus bugreport, ami szerint körvezetőként megnézve a Dezső buli kört, a SVIE állapotokat mutató ikonok közül legalább egy nem jelent meg rendesen.

Ezt a funkciót anno elég zavarosan valósítottam meg, sajnos került logika a User domain classba is: https://github.com/kir-dev/korok/blob/master/sch-pek-domain/src/main/java/hu/sch/domain/user/User.java#L263

A web rétegben próbálta

[2013-12-23 20:43] #73 closed, assigned to nobody

[2013-12-27 16:51] tmichel commented on #74
Úgy tűnik, hogy wicket bugot sikerült fogni.

A hiba előidézhető, ha körvezetőként megnézzük egy kör oldalát, a tagokat felsoroló táblázatot rendezzük, majd újrarendezzük anélkül, hogy megvárnánk, hogy az előző kérés teljesen lefusson.

Úgy tűnik, hogy a wicket nem tudja lekezelni, hogy egy azon adathalmazon (az ajaxos táblázat csak a memóriában rendezi db query által visszaadott adathalmazt) több

[2013-12-27 16:51] #74 closed, assigned to nobody

[2013-12-28 20:06] tmichel opened #75 "Közösségi pontszámítás központosítása"
Jelenleg két helyen kétféleképpen számoljuk ki a közösségi pontokat:
- A felületen megjelenő pontok. [`UserManagerBean#getAllValuatedSemesterWithPointForUser`](https://github.com/kir-dev/korok/blob/master/sch-pek-ejb-impl/src/main/java/hu/sch/ejb/UserManagerBean.java#L209)
- A KFB exportnál generált CSV, ami minden bizonnyal jó eredményeket ad. [`getpointsforsemester`](https://github.com/kir-dev/k

[2013-12-29 11:02] hgabor commented on #75
Mi a hiba a felületen lévő pontoknál? A Java kód kicsit nyakatekert, de helyesnek tűnik.
BTW, a képlet **nem** rekurzív, összesen két félév pontozásából jön ki a felvételi pontozás.

[2013-12-29 20:05] zolij commented on #75
ha már tárolt eljárások és közösségi pontok, akkor a KBME számára [közösségi pontokat számoló funkciót](https://github.com/kir-dev/korok/blob/master/sch-pek-ejb-impl/src/main/java/hu/sch/ejb/ValuationManagerBean.java#L800) is ide lehetne venni. Kérdés persze hogy szükség van-e rá, mert a KBME specifikációban nem látom nyomát (mondjuk a #71 -ben szívesen venném a közösségi pontokat:)).

[2013-12-30 13:22] tmichel commented on #75
@hgabor és tényleg. csak azért keveredtem meg, mert a kör vs összesített összecsúszott a fejemben. ha az előző féléves összesítettet kellene, akkor már tényleg rekurzívvá válhatnak, de így nem. módosítom is a szövegezést.

valamint a java kód azért rossz, mert nem veszi figyelembe az előző féléves pontot.

[2013-12-31 16:18] hgabor commented on #75
Akkor ideírom az algó magyarázatát, röviden:

Végigmegy minden elfogadott, érvényes pontigényen, és hozzáadja a pontot a megfelelő bejegyzéshez:

[code]

Viszont ezután megnézi, hogy van-e rákövetkező félév:

[code]

És ha igen, ahhoz is hozzáadja (ugyanúgy, mint fent).

Szóval mint mondtam, nyakatekert :)
Nem az összesítéskor veszi figyelembe az előző pontozást, hanem az összegzéskor a következő

[2014-01-01 14:45] tmichel commented on #75
Éreztem, hogy valamikor már megértettem ezt és akkor jónak tűnt. Sebaj. Ettől függetlenül ki lesz dobva és központosításra kerül.

[2014-01-01 19:02] tmichel opened #76 "Configuration osztály singletonná alakítása"
Jelenleg a [`Configuration`](https://github.com/kir-dev/korok/blob/master/sch-pek-domain/src/main/java/hu/sch/domain/config/Configuration.java) osztály egy statikus osztály. Ez a tesztelhetőséget nagyban nehezíti.

A `Configuration`-t át kellene alakítani, hogy singleton legyen, így lecserélhető lenne az implementáció a teszteknél. Ezen kívül az alkalmazásban is refaktorálni kell azokat az  osztál

[2014-01-01 23:46] tmichel opened #77 "HU locale szerinti string rendezés központosítása"
Elég sok helyen előfordul, hogy a magyar locale szerint kell rendezni stringeket. Ezt most minden alkalommal valahogy megoldjuk. Kellene egy központi utility osztály, ami a magyar abc szerint tud stringeket rendezni.

A következő kulcsszavakra keresve érdemes elindulni:
- Locale
- Collator

És akkor ennek kapcsán meg kellene nézni, hogy valahol véletlenül nincs-e sima String#compareTo használva st

[2014-01-02 09:41] tmichel opened #78 "Annotációk átnézése és javítása a domain osztályokon"
Jelenleg a domain osztályainkban az JPA-s annotációk elég sok helyen eltérnek az adatbázis sémától. Főleg a DB séma generálás terén. Ez azt jelenti, hogy az entitások alapján jelenleg nem lehet egy működő sémát generálni.

A feladat az lenne, hogy a jelenlegi séma alapján ki kellene egészíteni az entitásokon az annotációkat úgy, hogy ugyanazt a sémát kapjuk. Ezen túl jó lenne, ha validációs annotá

[2014-01-02 10:15] tmichel commented on #76
A tesztelés miatt a singletont, még lehet, hogy felül kell vizsgálni.

[2014-01-03 14:10] zolij commented on #71
ezeket kéne még implementálni
- givenName
- sn
- cn

további hiány:
- eduPersonEntitlement, de ez a a #72 kijavításával egy ideig húzható

Emellett pedig jó lenne elgondolkodni az egységesítésen (a loginkor átkerülő és a webservice-n átjövő adat formátuma bizonyos esetekben más, lásd: schacPersonalUniqueId).

[2014-01-05 00:41] tmichel opened #79 "Wicket Ajax feldolgozás hiba"
A Wicket a gyorsan egymás után küldött ajax kéréseket nem igazán kezeli jól. Egyes táblázatoknál (pl korok/grouphistory/id/57/sid/201320141) a lapozáskor előidézhető, hogy az második request 403-ra fusson és a következő kivétel dobódjon:

Ez egy ismert jelenség, a Wicket [user forumán is előkerült már](http://apache-wicket.1842946.n4.nabble.com/How-to-prevent-a-concurrent-click-on-ajax-links-AjaxF

[2014-01-07 23:31] tmichel opened #80 "LostPasswordToken equals és hashCode"
A `LostPasswordToken` entitásról lemaradt az `equals` és `hashCode` metódusok implementálása.

[code]

Ehhez kapcsolódik, hogy egy "ős" entitást létre kéne hozni, amiben ezeket központosítani lehetne és minden entitás ebből származna.

[2014-01-08 18:39] #72 closed, assigned to nobody

[2014-01-08 19:03] vbalazs opened #81 "Öregtag - tag inkonzisztencia kivizsgálása"
Úgy tűnik valakiknek valahogyan sikerült több olyan esetet generálniuk, amikor egy ember egyszerre tag és öregtag egy körben:

Lásd a Felező körtagságát itt:
https://profile.sch.bme.hu/korok/showuser/id/23607

De a Felező kör öregtagjai között lapozgatva is találni ilyet.

Ki kell vizsgálni, hogy ez hogyan lehetséges, normális-e és hogy kijavítsuk-e.

[2014-01-11 00:14] vbalazs opened #82 "Pont és belépőértékelés mentése nagy létszámú köröknél"
Az a helyzet, hogy a konténer HTTP lib (jboss esetén tomcat?) korlátozza a request paraméterek számát, alapértelmezetten 512-ben.

Ez az olyan nagy köröknél, mint pl. az SSSL, ahol ennél több aktív tag van, az értékelések mentése exceptiont dob.

<pre>
java.lang.IllegalStateException: More than the maximum number of request parameters (GET plus POST) for a single request ([512]) were detected. Any

[2014-01-11 00:17] vbalazs commented on #82
Megoldás: https://community.jboss.org/thread/198502?_sscc=t

[2014-01-11 00:29] vbalazs commented on #82
konfig install doksiba visszavezetve

[2014-01-11 00:29] #82 closed, assigned to nobody

[2014-01-12 14:07] vbalazs commented on #80
biztos, hogy szükség van ős entitásra? milyen mezőket tartalmazna? mi lenne a szerepe?

[2014-01-12 14:21] messo commented on #80
Ez esetleg? http://docs.oracle.com/javase/7/docs/api/java/util/Objects.html#hash(java.lang.Object...)

[2014-01-12 14:29] vbalazs commented on #80
nem rossz, igazabol netbeans generalta, nem neztem meg, hogy hogyan lehetne maskepp

[2014-01-12 15:00] tmichel commented on #80
@vbalazs az ős entitásba én id-t tennék, hashcode-t és equalst. úgy is mindig az id alapján megy az equals. a hashcodenak ez is elég sokszor.

[2014-01-12 15:12] vbalazs commented on #80
rossz. és ha mentés előtt Set-ben tárolnál több új elemet?:) azoknak mind null az id-ja, a másodikat már nem tenné bele... aztán fél napig debugolhatnád, hogy WTF (been there, done that)

[2014-01-12 15:28] tmichel commented on #80
nem mondom, hogy nincsenek hátulütői, de viszont így meg minden entitáshoz meg kell írni az `equals`-t, ami majdnem hogy sorról sorra megegyezik mindenhol.

[2014-01-12 15:38] Ksisu commented on #81
Annyi történt, hogy valamikor az egyik felező "körvezető" létrehozott egy egyedi poszttípust aminek a "tag" nevet adta. Így ha valaki megkapja ezt a posztot és utána öregtaggá válik, akkor a neve mellett szerepelhet egyszerre, a tag és az öregtag is. Ez történt a fenti esetben is.

[2014-01-12 15:46] vbalazs commented on #80
épp ez a lényege szerintem az equals meg hashcode metodusoknak, hogy minden osztálynál mást jelent az, hogy két példány egyenlő... Adott esetben lehet, hogy néhány dolog nem számít (pl. last modified), de ugyanez a mező meg egy másik osztálynál pont megkülönböztető mező.

[2014-01-12 15:52] tmichel commented on #80
ez logikus, csak az entitásoknál általában az id egyedi, így ez alapján
nézzük az egyenlőséget. persze ez nem oldja meg a `null` id problémát.
lehet, hogy majd egy külön util osztályba kellene kiemelni. lehet, hogy
elég lenne egy interfész amiben a `getId()` van. sőt. talán ez a legjobb,
mert akkor központosíthatjuk a kódot, de közben megmarad az, hogy mindenhol
külön kell implementálni.

2014/1/1

[2014-01-12 16:11] Ksisu commented on #81
Az a döntés született, hogy törölhetjük ezt az izgalmas posztot.

[2014-01-12 16:36] Ksisu commented on #81
Localba teszteltem az egyszerű kitörléses dolgot. Úgy néz ki működik.

[code]

[2014-01-12 21:47] vbalazs commented on #80
Továbbra sem látom, hogy ennek mi haszna lenne. Egy struktúrában akarsz tárolni usert meg valuationt pl?

[2014-01-13 09:05] tmichel commented on #80
Ennek én egyetlen hasznát látom: kód újrahasznosítás. az esetek nagy részében az `equals` ugyanaz. id-t hasonlít össze, meg típust.

[2014-01-13 11:00] vbalazs commented on #81
Szerintem ok.

[2014-01-13 12:26] tmichel commented on #81
Szerintem is. Este kitoljuk élesre, aztán le lehet majd zárni ezt az issue-t.

[2014-01-13 20:44] tmichel commented on #81
a változtatásokat az éles adatbázisba is átvezettem.

[2014-01-13 20:44] #81 closed, assigned to Ksisu

[2014-01-16 17:08] #77 closed, assigned to Ksisu

[2014-01-17 08:38] tmichel opened #83 "NPE a legördülő választónál a körök története oldalon"
Ez a hiba már máskor is jelentkezett. Talán volt ahol javításra is került.

[code]

A hiba azért jelentkezik, mert valahogy sikerül az üres opciót választani és a [`selected` paraméter `null` lesz](https://github.com/kir-dev/korok/blob/master/sch-pek-web/src/main/java/hu/sch/web/kp/group/GroupHistory.java#L96). Egy null-check szerintem megteszi, és némi jelzés a felhasználónak, hogy hiba történt,

[2014-01-17 08:38] tmichel commented on #80
ezt lezárom, maradunk a jelenlegi felállásnál: minden entitáshoz saját equals és hashCode ha szükség van rá.

[2014-01-17 08:38] #80 closed, assigned to nobody

[2014-01-17 13:11] Ksisu commented on #83
Két helyen használja így:
https://github.com/kir-dev/korok/blob/master/sch-pek-web/src/main/java/hu/sch/web/kp/group/GroupHistory.java#L96
https://github.com/kir-dev/korok/blob/master/sch-pek-web/src/main/java/hu/sch/web/kp/valuation/Valuations.java#L129

Valamint egy másik helyen van még valami hasonló, de ott nem így használja(lehet hogy itt volt javítva?).
https://github.com/kir-dev/korok/blob/

[2014-01-17 13:42] Ksisu commented on #83
Nos a felső két esetben van egy olyan opció is, hogy: "Choose One". Ha kiválasztunk egyet és mielőtt betöltene visszaváltunk rá akkor dobja a hibát. Az alsónál más a helyzet, ott nincs ilyen lehetőség, így ott nem keletkezik hiba.

[2014-01-18 10:28] tmichel commented on #83
menjen a merge a masterbe és zárd le az issue-t

[2014-01-18 11:15] tmichel commented on #76
Most kezdem volna használni az új refaktorált `Configuration` osztályt és rögtön kibukott, hogy nem teljesen a jó irányba mentünk el. Az egész célja a tesztelhetőség javítása lett volna, de közben sikerült belefutni abba, hogy a közvetlenül tesztelt osztályban ki tudom cserélni a `Configuration` példányt, de a járulékos osztályokban már nem.

Lehet, hogy meg kellene szüntetni a `Configuration` sin

[2014-01-18 11:17] #83 closed, assigned to Ksisu

[2014-01-18 11:22] messo commented on #76
A megoldas: DI. A Condfigurationt fuggosegkent kell definialni minden osztalynal. Az hogy milyen scope reszletkerdes (de nyilvan Singleton). A tesztelhetoseghez az kell hogy minden mockolando peldanyt fuggosegkent kezeljetek. Az hogy ha ehhez egy factoryt csinaltok es azt mockoljatok csak egy folosleges lepes, es nem logikus.

[2014-01-18 11:59] tmichel commented on #76
A DI azért para, mert van olyan eset, amikor a konfigra olyan osztályban van szükség, ami nem menedzselt. Persze mindenhol megoldható, hogy pl paraméterként kapja meg a metódus, te nem túl szép. Átgondolom.

[2014-01-18 12:04] messo commented on #76
Guice ;)
On Jan 18, 2014 12:59 PM, "Tamás Michelberger" notifications@github.com
wrote:

[2014-01-18 12:06] tmichel commented on #76
Biztosan nem fogok egy felesleges technológiát behozni, amikor a sima CDI is megfelel jelenleg.

[2014-01-18 12:26] messo commented on #76
Amúgy meg wicket-cdi, megy mint az álom, ha nem konténer adja a példányt akkor is. Csak azért szóltam közbe, hogy nehogy a nyúl vigye a puskát, ne a jó logikát csorbítsátok el.

[2014-01-19 20:41] tmichel opened #84 "User imAccounts és privateAttributes lazy fetch-re állítása"
Jelenleg (főleg kényelmi okok miatt) a `User#imAccounts` és a `User#privateAttributes` eager fetchre van állítva. Ez felesleges joinokat jelent minden lekérdezésnél, ami minden http kérésnél jelentkezik, így rontja az alkalmazás válaszidejét. Nagyon sok esetben nem is lenne szükség ezekre a mezőkre.

A `User` entitásban át kell állítani a fentebb említett két mező fetch-ét, valamint biztosítani ke

[2014-01-22 22:13] hgabor opened #85 "Kézi regnél user id ellenőrzése hibás"
A https://profile.sch.bme.hu/korok/createperson oldalon ha beírok egy létező userid-t (pl. hgabor), "Szabad uid" üzenetet kapok. Mentéskor hibával elszáll.

[2014-02-02 19:52] tmichel opened #86 "Beégetett entitás id-kat eltüntetni és seed adatokat létrehozni"
Jelenleg egy-két helyen beégetett varázs számok vannak a kódban. Kör id-k, poszt id-k stb.

Ezeket el kell tüntetni, helyettük valamilyen az saját adatainktól független megoldást kell implementálni.

Kell seed SQL szkript, amivel az adatbázist minimálisan működő állapotba lehet hozni. Van pár dolog, aminek mindenképpen benne kell lennie. Ilyenek például a rendszer szintű poszttípusok.

A feladat r

[2014-02-02 22:04] #71 closed, assigned to tmichel

[2014-02-25 15:22] Ksisu opened #87 "Körtag törlése SVIE elsődleges köréből"
Ha egy felhasználó SVIE tag és az elsődleges köréből akarják törölni akkor 2 probléma is felmerül.

Egyik egy technikai: foreign key miatt nem engedi. Ezt megtudjuk mi oldani.

Másik egy elvi: mi lesz ekkor a SVIE tagságával? Erre a kérdésekre csak a SVIE vezetőség tudhatja a választ. Meg kell keresni őket és utána tudunk bármit is csinálni.

[2014-02-26 02:11] Ksisu commented on #87
SVIE választmányi elnök(asszem ez a hivatalos megnevezése:)):
"ha nincs más köre, akkor megszűnik a SVIE tagság
Ha van másik köre akkor annak kell lennie az elsődleges körnek"

[2014-02-26 06:35] tmichel commented on #87
Jó, de melyik másik köre. Ha egy van, akkor ez rendben is van, de ha már kettő? Akkor sorsoljunk neki?

[2014-02-26 12:41] Ksisu commented on #87
Ugyan ezt kérdeztem én is, a válasz:
"jogos, ilyenkor neki kell döntenie
dumálok erről Tivivel, hogy mi legyen ezzel"
Szóval nekem úgy tűnik ez még nem feltétlen a végleges álláspont.
Holnapra ígértek végleges választ.

[2014-02-27 12:05] Ksisu commented on #87
"Tivi rajta van az ügyön, a probléma az, hogy homályos erről az alapszabály, szóval most az ügyvédet nyaggatja.

Emellett írta, hogy valamikor szívesen leülne dumálni, hogy milyen terveitek vannak, csakhogy tudjon segíteni, mert az egész információs rendszer gyakorlatilag a SVIE digitális leképezése, aztán jó lenne ha a legjobban igazodna a gyakorlati működéshez/ASZ-hoz/SZMSZ-hez. Ha lesz ilyen sz

[2014-03-13 12:31] zolij opened #88 "Profile API vs SSO adatok"
a eduPersonEntitlement nem teljesen ugyanazt adja vissza a két különböző metódus alapján.
SSO-nál az elemek ; -vel vannak elválasztva, míg API lekérés esetén | az elválasztó.

Javaslat: API esetén is ; legyen

[2014-03-13 22:15] #88 closed, assigned to nobody

[2014-03-25 14:08] tmichel opened #89 "Historikus adatok nyilvántartása egy körben betöltött posztokra is"
Egy felhasználó a körtagsága alatt csak az aktuális posztjait tároljuk. Nincs arra lehetőség jelenleg, hogy egy adott körben betöltött posztokról historikus adatokat tároljunk. A _körvezető_ poszt kivételes, mert kap _volt körvezető_ posztot a felhasználó, amikor elveszik tőle a körvezetőséget.

Ez egy igen hasznos feature lehetne. A felhasználók nyomon követhetnék a saját útjukat a körökön belül.

[2014-03-30 13:36] tmichel opened #90 "frontend - FAQ oldal és segítség a UI-ra"
Sok olyan support kérdés érkezik, amiket megelőzhetnénk, ha lenne egy rendes FAQ oldal és némi segítség az oldalon.

Ide gyűjtjük a FAQ-ba kerülő kérdéseket:
- Miért nem tudom elsődleges körként jelölni az XY kört?
  Csak SVIE köröket lehet elsődleges körként jelölni. Ezt az elsődleges körválasztó felületen is lehet jelezni.

[2014-04-01 23:52] Ksisu commented on #78
A sima mezők megvannak, 2 kérdéses volt TODO kommenttel jelöltem.
Meg kell nézni, hogy működik-e így az ID generálás.
Valamint az idegen kulcsokat is ellenőrizni kell még.

[2014-04-03 11:26] salierri opened #91 "email újraküldése regisztrációról"
Lehetséges legyen hibás email-küldésnél újraküldeni a regisztrációs emailt az új felhasználóknak.

[2014-04-03 12:39] vbalazs commented on #91
szerintem felesleges ez a ficsor:
- ennek nem szabadna elofordulnia, ez egy kiveteles eset -> rendszermonitorozassal orvosolhato
- ha valahogy megis elofordul kerjen jelszoemlekeztetot. nem tudom, hogy ilyenkor van-e valami egyeb aktivalas es ennel elfelejtett jelszonal csinalunk-e valamit, ezt kene inkabb megnezni.

[2014-04-03 13:45] tmichel commented on #91
Szerintem a jelszó emlékeztető nem jó, mert a regisztrációját meg kell erősíteni. Viszont lehet, hogy felül kéne vizsgálni a regisztrációs folyamatot - ez úgyis változni fog az auth.sch bevezetésével. Sőt kifejezetten át kell gondolni, mert a régi felhasználókezelés eltűnik. Az új felületen elvileg nem is kéne lennie jelszó emlékeztetőnek.

[2014-05-04 22:42] #67 closed, assigned to tmichel

[2014-05-07 21:45] vbalazs commented on #90
korul lehet nezni redmine wiki-n is, mint ha lenne egy help page korokhoz, a navbarban van is egy help/FAQ link, ami mar elveszett hova mutat :D

[2014-05-08 13:13] abelorosz opened #93 "Legördülő menü hiba iOS-en"
iOS eszközön nem működik a legördülő menü.

![image](https://cloud.githubusercontent.com/assets/620148/2915790/57d32d0c-d6b2-11e3-9fda-a107211ce22a.jpg)

[2014-05-10 20:26] tmichel commented on #93
Ez minden mobil böngészőben probléma. Az új felület tervezésénél fogunk erre figyelni, de a jelenlegi felületet már nem valószínű, hogy kijavítjuk.

[2014-05-10 20:26] #93 closed, assigned to nobody

[2014-05-14 14:25] tmichel commented on #76
Az sch-pek-2.7.0-as kiadással ez lezárult. CDI `ApplicaitonScoped` bean lett.

[2014-05-14 14:25] #76 closed, assigned to Ksisu

[2014-05-14 14:49] tmichel opened #95 "Logolás javítása JBoss-ban"
Most jelenleg egy központi helyre folyik be az összes log (server.log), de ez nem igazán jó. Valami nem stimmel a konfiggal. Erről már régebben is volt szó: https://github.com/kir-dev/korok/issues/41#issuecomment-21315971

Elvileg a per-deployment logging konfigurálás már megoldott: https://issues.jboss.org/browse/AS7-514

[2014-05-14 14:49] tmichel opened #96 "Hiba jelentő email"
Eddig valahol a web réteg mélyén kaptuk el az elszabadult exceptionöket és némi Wicket magic is volt benne. Ezzel egy nagy probléma volt, hogy a nem webrétegben dobott exceptionöket nem kapta el. Két fontos fontosabb metódus:
- [PhoenixApplication#setErrorHandling](https://github.com/kir-dev/korok/blob/master/sch-pek-web/src/main/java/hu/sch/web/PhoenixApplication.java#L290)
- [SystemManagerBean#s

[2014-05-14 14:55] tmichel commented on #87
@Ksisu ezzel volt valami haladás? Jó lenne ha a nyár előtt állást foglalnának az illetékesek!

[2014-05-14 15:39] tmichel commented on #41
frissítettem a leírást az apival együtt jelentkező új igényekkel

[2014-05-15 14:27] tmichel commented on #91
Ez már biztosan nem kerül megvalósításra. A 3.0-ás verzióban már nem is lehet közvetlenül regisztrálni a rendszerbe. Erre csak auth.sch-n keresztül lesz lehetőség.

[2014-05-15 14:27] #91 closed, assigned to nobody

[2014-05-15 14:30] tmichel commented on #79
A frontend újraírás beindult. Ezt már nem fogjuk kijavítani.

[2014-05-15 14:30] #79 closed, assigned to nobody

[2014-05-15 14:36] tmichel commented on #42
Ez az issue értelmét veszti az új frontenddel. Ott mindenképpen kell majd valamilyen session, mert az autentikáció módja is változik (OAuth-ra).

[2014-05-15 14:36] #42 closed, assigned to nobody

[2014-05-15 14:40] tmichel commented on #40
Az SSO megszűnésével már nem mi leszünk az elsődleges user storage, így valójában nincs értelme beszélni inaktív felhasználókról. A rendszer szempontjából ez lényegtelenné válik.

[2014-05-15 14:40] #40 closed, assigned to nobody

[2014-05-15 14:43] tmichel commented on #15
Egyeztetni kellene @zolij -vel és @Ksisu -val erről. Kell ez még? Az új KBME rendszer hogyan fog kapcsolódni, ha egyáltalán fog.

[2014-05-15 14:44] tmichel commented on #85
Ezt már nem javítjuk. A következő verziótól megszűnik a kézi regisztráció.

[2014-05-15 14:44] #85 closed, assigned to nobody

[2014-05-15 14:59] tmichel commented on #32
Ennek a sorsa kérdéses. Lehetséges, hogy pont az ellenkező irány valósul meg (github->redmine) Egyelőre lezárom.

[2014-05-15 14:59] #32 closed, assigned to nobody

[2014-05-15 15:06] tmichel commented on #75
Ez lényegében megoldódott a https://github.com/kir-dev/korok/pull/92 pull requesttel.

A KBME-s integráció még egy tisztázatlan kérdés. @Ksisu tud talán felvilágosítást adni. Erről majd nyitunk új issue-t, ha előjön.

[2014-05-15 15:06] #75 closed, assigned to nobody

[2014-05-22 21:25] tmichel opened #97 "Teljes átállás CDI-ra"
Jelenleg össze-vissza használjuk a `@EJB` és a `@Inject` annotációkat. Ezt egységesíteni kell és `@Inject`-et kellene használni mindenhol.

Sőt ha már itt vagyunk, akkor jó lenne a sima field injectiont kiváltani konstruktor vagy setter injectonnel. Jót tenne a tesztelhetőségnek.

[2014-05-22 23:47] tmichel opened #99 "H2 adatbázis használata a tesztekhez"
Most PostgreSQL-t használunk teszt adatbázisként is, aminek megvan az előnye, hogy kifejezetten production közeli környezetben lehet teszteket futtatni. Viszont bonyolult összelőni a tesztekkel és lassú is, valamint nehéz a tesztek közötti konzisztens állapotot fenntartani. Most ezt úgy oldjuk meg, hogy minden teszt után rollbackeljük az adatbázist, de így sosincs commit és jelenleg fixture-ök sin

[2014-05-23 21:23] #84 closed, assigned to nobody

[2014-05-23 21:35] tmichel commented on #95
Végül is úgy döntöttünk, hogy a logback helyett a wildfly által biztosított `logging subsystem`et használjuk. Ennek a konfigurálása a standalone.xml-ben vagy a jboss-cli-n keresztül történik.

Előnye, hogy fejlesztési időben 0 konfigurálást igényel és támogatja az slf4j-t (így nem kötjük magunkat egyetlen logging backendhez sem).

[2014-05-23 22:34] tmichel commented on #99
Ennek előfeltétele a #78-as.

[2014-05-24 07:45] tmichel opened #101 "Automatizált telepítő szkript"
A #100 pull-request lévén van egy fél automata megoldás, de jó lenne ezt kiterjeszteni teljesen automatizáltra.

A telepítés lépései a `docs/install.md` fájlban találhatóak. Az adatbázis konfigurációt és a postgres driver telepítést még lehetne automatizálni.

[2014-05-24 10:04] #95 closed, assigned to nobody

[2014-05-26 20:22] tmichel commented on #78
Nem tartozik ide teljesen, de ha már úgyis a domain osztályokat piszkálgatod, akkor jó lenne ha fieldek láthatósága egységesen `private` lenne. Most van egy két hely, ahol `package protected`. Pl a [`PostType`](https://github.com/kir-dev/korok/blob/master/sch-pek-domain/src/main/java/hu/sch/domain/PostType.java) entitátsban.

[2014-05-26 23:19] tmichel commented on #97
A constructor vagy setter injectionnel együtt az `EjbConstructorArgument` osztályt is fel kell számolni.

[2014-05-27 16:10] tmichel opened #105 "Hibernate caching"
Utána kéne nézni, hogy a Hibernate caching hogyan működik és miket kell beállítani.

[2014-05-28 03:56] Ksisu commented on #87
Nyaggattam őket személyesen is, még nem nagyon akartak válaszolni. Beszélek velük, ha a hét végéig nem tudnak mit mondani akkor legyen az, hogy átállítjuk pártoló taggá és ott nem kell elsődleges kör.

[2014-05-31 13:54] tmichel opened #106 "Két domain maradványait megszüntetni"
A 3.0-ás verziótól szeretnénk megszüntetni a több domaines megoldást. Ennek még a kódbázisban van néhány nyoma. Ezeket fel kéne számolni és a két domaint egységesíteni.

[2014-05-31 14:47] tmichel opened #108 "Profil képek mappastruktúrájának migrálása"
Jelenleg a profilképek elérési útjában benne van a felhasználónév. Például az én profilképem a következő útvonalon érhető el:

[code]

Ehelyett át kéne állni a következőre:
- első szint: a fájlnév első karaktere
- második szint: a fájlnév első **két** karaktere
- harmadik: maga fájl

Tehát például:

[code]

Erre kellene egy kis script, amivel a jelenlegi képeket átmozgathatjuk az új helyükre, vala

[2014-05-31 15:41] tmichel commented on #106
A domainekkel együtt a régi alkalmazáshoz beégetett url-eket is javítani kell. A legjobb lenne, ha megszüntetnénk ezeket, vagy konfigurálhatóvá tennénk, hogy ne legyenek beégetve a kódba.

[2014-05-31 15:53] tmichel opened #109 "Konfiguráció verifikálása az alkalmazás indulásakor"
Miután a legtöbb konfigurációs lehetőséget lazy módon töltjük be, azaz csak akkor, amikor először szükség van rá, így váratlan hibákat eredményezhet a rossz konfiguráció.

Két feladat van:
- `ConfigurationImpl` osztály `@ApplicationScoped`, de a Weld ezt is lazy modón példányosítja, akkor amikor valaki először használja. Ki kell kényszertíteni, hogy előre létrehozza őket a rendszer. (kiindulásnak

[2014-06-04 22:31] tmichel opened #110 "Egységes hibajelentés az API oldalon"
Jelenleg kicsit hektikus, hogy mikor milyen formában kerül egy-egy hiba visszajelzésre a kliens felé.

Az alapok már megvannak (mindig küldünk vissza értelmes json választ és a status code-ot is megpróbáljuk értelmesen beállítani, hogy ne mindig 500 legyen). A válasz pontos tartalma még alakulóban van. Ennek a feladatnak része, hogy ezt letisztázza és egy jól definiált formátumot meghatározzon.

E

[2014-06-09 20:05] tmichel commented on #110
A feladat tervezős része elkészült. Az maradt hátra, hogy a már meglévő exceptionöket kiváltsuk a kódbázis teljes egészében.

[2014-06-09 20:45] tmichel opened #114 "APIban áttérés virid-ról auth.sch internal_id-ra"
Most virid-t használnak az api végpontok a felhasználó azonosítására. A jövőben a virid-t ki szeretnénk vezetni a köztudatból. Jó lenne ha az csak a backend belső ügy lenne. Ezért a `users/{auth_sch_internal_id}/*`-ra kéne áttérni.

Ehhez kell egy új mező a users táblában, valamint az apiban mindenhol le kell cserélni a virid-t az auth.sch id-ra. Ezzel együtt a usert betöltő query-ket is át kell í

[2014-06-09 20:52] vbalazs commented on #114
Most lenne jó, ha lehetne User Story-t / sub issue-kat felvenni githubon :)

[2014-06-12 10:51] zolij commented on #114
@tmichel a mostani profile API-t ne módosítsd (gondolok itt arra, amit IRC-en írtál), mert authsch-n is módosítani kell dolgokat hogy ne szálljon el az egész. Ha kész lesz az új API, akkor átírom arra és utána lehet megszüntetni a mostanit (és a virid kiadását).

[2014-06-12 12:36] tmichel commented on #114
@zolij nem gondoltam, hogy azonnal módosítom, előre egyeztetünk majd. de ezt még szeptember előtt. valószínűleg.

[2014-07-09 19:07] messo opened #122 "frontend - Navigation links on the settings dropdown"
It would be cool if one could click on a whole row of the settings dropdown instead of just the text.

[2014-07-15 10:44] Kresshy opened #124 "frontend - logging library"
We should use some logging library instead of just calling console.log. At the moment it seems morgan is just a http request logging library and it is not able to log to console or to a file. According to these sources we should decide to use log4js only or try to integrate it with morgan.
- [morgan combined with log4js](http://stackoverflow.com/questions/23494956/how-to-use-morgan-logger)
- [log4

[2014-07-17 12:08] Kresshy opened #126 "frontend - registration page for new users"
We have to provide a registration form for the new users. The form should ask the following informations from the user:
- username?
- name
- email
- birthdate

Any more?

[2014-07-19 13:14] tmichel commented on #114
Ez közben változott. Marad a virid az apiban.

[2014-07-19 13:14] #114 closed, assigned to nobody

[2014-07-25 16:03] tmichel commented on #86
Ezen túl van pár beégetett konstans. Például poszt nevek és hasonlók. Ezeket is el kéne tüntetni.

[2014-07-25 20:54] tmichel commented on #28
Némi előrelépés. A jelenlegi wicketes alkalmazásban nagyjából megvalósult. Egyelőre csak virid alapján.

Releváns commitok: https://github.com/kir-dev/korok/compare/bcc2263...8a3d6e2

**Használat:**

`DEVELOPMENT` módban látogass el a `/dev` oldalra és adj meg egy user id-t.

[2014-07-27 15:05] tmichel commented on #70
a [v2.8.0](https://github.com/kir-dev/korok/tree/v2.8.0)-ás branchben fixelve

[2014-07-28 08:49] tmichel commented on #105
Utána néztem. Nem bonyolult beállítani, viszont a cache-sel együtt behozhatunk elég sok problémát. Az alkalmazásnak nincsenek teljesítmény problémái (_jelenleg_), azért mert a terhelés minimális. Nagyobb terhelés esetén valószínűleg nagyon lassú lenne, de ezen némi cache nem segítene. Az alkalmazást magát kéne kijavítani.

2nd level cache egyelőre nem kerül bele.

[2014-07-28 08:49] #105 closed, assigned to nobody

[2014-07-28 13:27] tmichel commented on #66
Már nincsenek megkülönböztetve a gólyák. Az auth.sch-tól nem kapunk ilyen információt.

[2014-07-28 13:27] #66 closed, assigned to nobody

[2014-09-04 11:29] zolij opened #139 "régi WS-ek támogassák paraméterként az internal_id -t"
Mivel az új usereknél már nem tárolódik le a neptun kód, így a következő féléves hálóregnél nem tudná az authsch-s átállás utáni usereket feloldani. A feladat ennek megfelelően hogy a ws-ek támogassák az internal_id alapján történő keresést is. Mivel folyamatosan használt service-ről van szó, így a neptun kódos keresést a félév végéig szintén támogatni kell.

Érintett webservice-k:
- entrants
- me

[2014-09-13 16:38] tmichel commented on #139
#140-es megoldja ezt

[2014-09-13 16:38] #139 closed, assigned to nobody

[2014-10-20 11:04] zolij opened #142 "Profilkép elérhetőség"
A felhasználóhoz tartozó profilképet el lehessen érni kívülről vagy apin keresztül.

[2015-01-18 20:44] ha7ilm opened #143 "<br>-ek a pontozási elveknél (ValuationDetails), amennyiben táblázatot használunk TinyMCE-ben"
Sziasztok,

Ez a hibajelenség:
![vir-br](https://cloud.githubusercontent.com/assets/5903408/5793992/10c89682-9f5b-11e4-860b-76d4c45a76d4.png)

Nem az a <a href="https://wicket.apache.org/apidocs/1.4/org/apache/wicket/markup/html/basic/MultiLineLabel.html">MultiLineLabel</a> rakja be őket, ami <a href="https://github.com/kir-dev/korok/blob/682a951684400171c42ed092c64d9c38cd175b29/sch-pek-web/src/ma